[2016-05-23 09:17] bugy opened #1 "Add possibility to stop the script"

[2016-05-23 09:17] bugy opened #2 "bash 'read -p "xxx"' doesn't show the message in output"

[2016-05-23 09:19] bugy opened #3 "Execute button should be reenabled if script is switched"
1. Start long-running script X
2. Switch to another script
Result: execute button is disabled

Expected - script should be stopped when switching, and button should be reenabled

[2016-05-23 09:20] bugy opened #4 "Firefox: hash page opening is not working"
If you try to open a page with hash (e.g. .../index.html#my_script) it doesn't show the script info

[2016-05-23 09:22] bugy opened #5 "Firefox: js error on xhttp response parsing cause execute button to hang"
make errournous js code for execute button (e.g. when we receive a response, just throw an exception). It causes execute button to hang (which is ok in case of unexpected error), but if you reload the page (F5) the button is not working

[2016-05-23 09:23] bugy opened #6 "Hide all script elements on index.html opening"
If a page without hash is opened, it shouldn't show "Execute" button

[2016-05-24 05:54] bugy commented on #1
Added button for stopping a script

[2016-05-24 05:54] #1 closed

[2016-05-24 05:56] bugy opened #7 "Show that script has finished faster"
There should be less than 0.1s delay after the script has finished and UI updates correspondingly (currently it means that ExecuteButton should be unlocked, and StopButton should be locked)

[2016-05-24 05:56] bugy opened #8 "Add autoscroll on logs change"

[2016-05-24 06:35] bugy opened #9 "make index.html default webpage"
If you connect to the server without specifying a page (http://my-host:5000/), then nothing is loaded. index.html should be loaded in this case

[2016-05-29 10:29] bugy commented on #2
According to my findings, the problem was with different behaviour of "read -p" in case of terminal and non-terminal mode. In terminal mode "read -p" prints prompt string to output, otherwise - not (e.g. if it's run under simple bash command).
In order to cope with it, I've introduced a possibility to run command within pseudo-terminal, so the script will think it's run inside terminal and prints

[2016-05-29 10:29] #2 closed

[2016-05-29 18:34] bugy commented on #3
Fixed. Now confirmation is asked, when some script is running and user tries to switch script

[2016-05-29 18:34] #3 closed

[2016-05-29 18:43] bugy commented on #4
The problem was with URL encoding - firefox was reading page hash as it it (encoded), and chrome decoded automatically.

[2016-05-29 18:43] #4 closed

[2016-06-02 14:14] bugy opened #10 "Excessive logging makes browser to hang"

[2016-06-02 14:27] bugy opened #11 "Python2 script with print didn't put information to output."

[2016-06-05 14:06] bugy commented on #5
Couldn't reproduce

[2016-06-05 14:06] #5 closed

[2016-06-05 14:07] bugy opened #12 "Subprocess is not killed, if HTTP request aborts"

[2016-06-11 18:44] bugy opened #13 "Logging of execution log"
Currently execution log is sent only to web page and not logged anywhere.
It should be logged somewhere, so it will be possible to analyze what was happening.

[2016-06-12 10:22] bugy commented on #12
Fixed with moving to tornado (https://github.com/bugy/script-server/commit/d4d86d4e0f69dc0d6b67bd8b7fe2f9f5ba4d289f) #

[2016-06-12 10:22] #12 closed

[2016-06-12 10:36] bugy commented on #6
Fixed

[2016-06-12 10:36] #6 closed

[2016-06-12 10:37] bugy commented on #7
Already fixed, unlocking seems to be fast enough now.

[2016-06-12 10:37] #7 closed

[2016-06-12 10:44] bugy commented on #9
Was partially implemented when moving to tornado. The index.html content was opening on root path (like localhost:5000/#script_name)
For better compatibility and less error I've added redirection from root to index.html (so the example from above will redirect browser to (like localhost:5000/index.html#script_name)

[2016-06-12 10:44] #9 closed

[2016-06-12 18:56] bugy commented on #8
Added basic support. Autoscroll is disabled, if user scrolls up, and enabled, if user scrolls to bottom.

Need to add disabling autoscroll when user tried to select text.
Changes for Autoscroll not working on firefox, however it seems, that it has simple autoscroll functionality out of the box.

[2016-06-13 20:16] bugy opened #14 "Add favicon"

[2016-06-13 21:02] bugy opened #15 "Not full log is printed in case of large outout"
Run simple script (from test pack) for 20000 occurrences of "long long long" text.
As a result, some lines won't be printed.

[2016-06-13 21:04] bugy commented on #10
Improved performance, now it should be much better.

[2016-06-13 21:04] #10 closed

[2016-06-17 18:44] bugy commented on #8
Now pressing a button disables autoscroll (while it's pressed).
Also making performance improvement has broken autoscroll, fixed now.

[2016-06-17 18:44] #8 closed

[2016-06-17 18:58] bugy commented on #11
Couldn't reproduce

[2016-06-17 18:58] #11 closed

[2016-06-17 21:29] bugy commented on #13
Process output is now also written to file (per process):
logs/processes/process_{pid}_{date}.log

[2016-06-17 21:29] #13 closed

[2016-06-17 21:56] #14 closed

[2016-06-17 21:56] bugy commented on #14
Done

[2016-06-18 08:04] bugy commented on #15
Was issue with a premature websocket close (even before all the output was sent)

[2016-06-18 08:04] #15 closed

[2016-06-18 08:05] bugy opened #16 "[feature] Add possibility to make fields required"

[2016-06-18 08:06] bugy opened #17 "[feature] Add possibility to specify default value for a field"

[2016-06-18 08:07] bugy opened #18 "[feature] Add int field type"
With support of validation and min/max values

[2016-06-18 08:09] bugy opened #19 "[bug] when script uses svn, it may ask for a password"
Also, it seems that password request output from svn is terminal-dependent, i.e. it's not printed in non-terminal mode.

[2016-06-18 08:10] bugy opened #20 "[feature] Add selectable field type"
The value should be selected from ComboBox, script should provide all allowed values

[2016-06-18 08:13] bugy opened #21 "[feature] support filling field values from some other script"
E.g. we have a script for deleting a file in temp folder, it would be nice to send a user a list of the files in this folder, so the required one could be selected.

[2016-06-18 08:13] bugy commented on #21
This relates to:
- min/max values
- default value
- allowed values

[2016-06-18 17:04] bugy commented on #19
For the missing output there was a problem with subprocesses, created inside main process, sometimes they could ignore parent's stdout. Fixed

[2016-06-19 07:02] bugy opened #22 "[feature] Make terminal mode default"
Since it's hard to predict, whether used commands in the script behave differently, being invoked in terminal, it should be better to launch all the scripts in terminal mode by default.

See some more info in my comment in https://github.com/bugy/script-server/issues/2#issuecomment-222353660

[2016-06-19 08:41] bugy commented on #19
Currently I don't see any way to integrate svn password request properly. This should be managed by script (or script environment) outside the server. E.g. client config for storing passwords should be done properly in this case and really cache auth data.

[2016-06-19 08:41] #19 closed

[2016-06-19 08:48] bugy commented on #22
Done

[2016-06-19 08:48] #22 closed

[2016-06-19 15:09] bugy commented on #16
Done

[2016-06-19 15:09] #16 closed

[2016-06-19 17:51] bugy commented on #17
Done

[2016-06-19 17:51] #17 closed

[2016-06-20 11:57] bugy opened #23 "[feature] improve process log with better information"
PID in filename makes not much sense, since it won't help to find the proper file at all. However the running host for example or time will help.

It should be understood how this log file can be improve and implemented

[2016-06-21 14:33] bugy opened #24 "[feature] Add possibility to run script from location"
Currently scripts are run from the folder of the server. It would be nice to have a possibility to specify runFolder for the script (since some scripts can use relative paths).

[2016-06-21 14:34] bugy opened #25 "[bug] logs/processes folder wasn't created automatically"

[2016-06-21 14:34] bugy opened #26 "[feature] create configs folder automatically"

[2016-06-21 20:09] bugy commented on #18
Done

[2016-06-21 20:09] #18 closed

[2016-06-21 20:11] bugy opened #27 "[bug] required integer field shows incorrect message on wrong input"
If you put some wrong value (e.g. e1) in int field, it will show message "required", however it should show message "integer expected"

[2016-06-21 20:34] bugy commented on #24
Done

[2016-06-21 20:34] #24 closed

[2016-06-22 05:43] bugy opened #28 "[bug] running scripts can make server not terminable"
If you run write_file script (from testing suite) and try to terminate the server (using ctrl+C) it won't stop and could only be killed.

I suspect, that not all child processes are terminated properly

[2016-06-22 06:00] bugy opened #29 "[feature] allow omitting of parameter's "param""
If you have a script, which is reading input values by order (e.g. in bash: var1=$1), rather than by parameters (e.g. "script.sh -p val"), it's useful just to omit "param" in the parameter configuration.

[2016-06-22 07:08] bugy opened #30 "[feature] Add constant parameters"
Such parameters should not be visible on UI, but should be sent to the script

[2016-06-23 20:20] bugy commented on #29
Done, now "param" can be skipped (or empty value could be used) in a script configuration

[2016-06-23 20:20] #29 closed

[2016-06-23 20:31] bugy commented on #27
Done

[2016-06-23 20:31] #27 closed

[2016-06-23 20:38] bugy opened #31 "[feature] Make "requires_terminal" config to be read as boolean"
Currently this parameter is specified (and read) as a string, i.e. it should be specified like this:
      "requires_terminal": "false",

It should be changed to be read as a boolean (without quotes)

[2016-06-23 20:51] bugy commented on #30
Done. To making a parameter constant, it should have field "constant": true, and also it should have default value specified

[2016-06-23 20:51] #30 closed

[2016-06-24 15:01] bugy opened #32 "[bug] server loading fails if one of the configs is invalid"
If one config is invalid, then only this script shouldn't work (and probably should be not shown)

[2016-06-25 16:07] bugy commented on #20
Done. Can be configured like this:
[code]
'default' and 'required' are supported. However since you cannot unselect the value, 'required' is useless, when 'default' is specified.

[2016-06-25 16:07] #20 closed

[2016-06-26 13:40] bugy commented on #23
Done. Now the format is:
scriptname_ip_date_time

[2016-06-26 13:40] #23 closed

[2016-06-26 13:41] bugy commented on #25
Cannot reproduce

[2016-06-26 13:41] #25 closed

[2016-06-26 13:45] bugy commented on #26
Done

[2016-06-26 13:45] #26 closed

[2016-06-26 14:25] bugy commented on #28
The problem was, that in terminal mode reading from master wasn't finished, because os.read blocked

[2016-06-26 14:25] #28 closed

[2016-06-26 14:28] bugy commented on #31
Done

[2016-06-26 14:28] #31 closed

[2016-06-26 14:33] bugy commented on #32
Done. Now this script won't be shown at GUI.

[2016-06-26 14:33] #32 closed

[2016-06-27 18:41] bugy opened #33 "[bug] if script show fails the previous screen is not cleared"
If your select another script, the previous script info should be cleared, even if the opening of the new one failed.
It would be even better to show, that loading script info failed.

[2016-06-27 18:43] bugy commented on #21
Added filling allowed values from another script.
Min/max or default values are not implemented, they seem to be very seldom cases.

[2016-06-27 18:43] #21 closed

[2016-06-28 10:25] bugy opened #34 "[feature] Add possibility to download result files of the script"
Some scripts can create file(s) as a result of execution. There should be a possibility to download these files.

[2016-06-28 13:47] bugy opened #35 "[bug] sometimes script opening fails"
How to reproduce:
open a config with a lot of parameters and update the page untill error occurs

Web console exception:
Uncaught TypeError: this.validate is not a function

[2016-07-08 20:36] bugy opened #36 "[feature] Remove spaces from script names in URL"
Currently script names used as a hashes in the URL. However linking such pages to other people looks bad: either the link will be cut at the first space or spaces will be urlencoded (decreasing readability). So all spaces should be replaced with some other symbol (e.g. underscore).

Backward compatibility should be supported, i.e. old links should still work after this feature.

[2016-07-22 06:02] bugy opened #37 "Move external resources to stored files"
Currently external resources are loaded each time. It would be better to make them static files

[2016-07-31 14:56] #35 closed

[2016-07-31 15:25] #37 closed

[2016-08-15 08:35] bugy opened #38 "[bug] Launching scripts sometimes causes exception and hanging request on GUI"
Error log:

[2016-09-09 11:38] bugy commented on #38
Fixed cause of exception in 110a98696de60cbdcff1032301b525fd6157122a and ff52546442a747bbcd464c4a8492482c8b8af0f2
Need to fix hanging GUI also

[2016-09-09 11:38] bugy opened #40 "Order scripts in the GUI alphabetically"

[2016-09-11 11:04] bugy commented on #38
Added behaviour on script output reading, that script will be killed and error will be shown to the user.

[2016-09-11 11:04] #38 closed

[2016-09-11 11:39] bugy commented on #33
Fixed. Now if script info opening fails (either server response with error or some JS exception occurs), then all the elements except Title are hidden and error message is shown

[2016-09-11 11:39] #33 closed

[2016-09-11 11:44] bugy commented on #40
Scripts are now sorted alphabetically (ignoring case).

[2016-09-11 11:44] #40 closed

[2016-09-12 18:43] bugy commented on #36
Fixed. Now spaces are replaced with underscores in hashes, this can cause hash collisions (if someone decides to create script "My script" and another one "My_script"), but in real use cases there should not be too often.
Backward compatibility should work, but not guaranteed. There are not much users at the moment, so I ignored it for the better code.

[2016-09-12 18:43] #36 closed

[2016-09-12 18:58] bugy opened #41 "Add support for scripts output colors (for Linux)"
Scripts can produce output with colouring mode (e.g. grep --color ..). Script server should show such output as colored as well.
Currently such output is shown like:
`[01;31m[KI'm called[m[K`
So we need to decode the color and create corresponding coloring at the web GUI for such blocks.
Both font and background can be colored.

For testing purposes we can extend Write to file script, with sho

[2016-09-20 15:36] bugy opened #42 "Remove fcntl dependency on windows"
In #28 was fixed blocking os.read, but the fix depends on the fcntl module, which is available only for linux.
This module shouldn't be used for windows

[2016-09-20 18:13] bugy commented on #42
This module was used for PTY mode only. Since it seems there is no need (and possibility) to have pty on Windows, PTY execution wrapper is not needed there.
I've splited ExecutionWrappers into 2 different modules and pty supporting module is imported and can be used only on Linux

[2016-09-20 18:13] #42 closed

[2016-09-20 18:23] bugy commented on #42
Also, be default 'requires_terminal' will be False for non-linux OS (to prevent warnings).

[2016-09-21 07:23] bugy opened #43 "Fix Windows incompatibility issues"
Currently script server is not running on windows because of different issues (paths, modules, working with processes, etc.). This should be fixed

[2016-09-21 07:28] bugy commented on #43
Fixed most of the issues. Although some hanging process issues can remain on Windows
Also added windows test script and config, write_to_file adopted to win and bat

Closing file descriptors and processes should be retested on Linux.

Keeping the task, if some other issues will arise within a week

[2016-09-27 06:44] bugy opened #44 "Improve vertical margin between parameters"
See example of bad layout:

![image](https://cloud.githubusercontent.com/assets/1275813/18862821/9282564e-848e-11e6-9127-8f07cbfd146e.png)

[2016-09-29 07:14] bugy opened #45 "[feature] Change IP to hostname in process logs"
Currently, for each script run, log file is created, and it contains caller IP in the name.
However hostname can provide more information at a glance, so if hostname can be acquired, it should be used for filename.
Also, main log file should log both caller IP and hostname.

[2016-10-09 08:18] bugy opened #46 "[feature] Add possiblity to run via SSL"
Currently script server is working via plain HTTP only. There should be possilibility to turn on HTTPS.

Proposal:
1. Add conf folder
2. Read web.json configuration from conf folder
3. If ssl parameter exists there, read key and cert paths from it
4. Start http server with ssl config, on the port 5443
5. Add port parameter to web.conf file, which will allow to override default port
6. Move current

[2016-10-09 09:52] bugy commented on #46
Implemented as specified in the description

[2016-10-10 06:29] bugy commented on #46
Tested on Win.
Need to add ssl test files (cert and key)

[2016-10-11 18:37] #46 closed

[2016-10-12 10:50] bugy opened #47 "[feature] Add possibility to specify environment variables as values in script configs"
This should be available at least for default values.

[2016-10-18 12:36] bugy opened #48 "[feature] Add LDAP authorization support"
LDAP authorization should be configurable using web.json file.
For this new config section should be added, which should look like:
{
  ...
  "authorization": {
    "type": "LDAP",
    "config": {
      //some LDAP based config parameters
    }
  }
}

[2016-10-24 05:40] bugy opened #49 "[bug] combobox parameters field is shifted in Firefox"
The combobox field in parameters panel is shifted up above other fields baseline.

Firefox ESR (45.4.0) on debian 8

[2016-10-31 10:13] bugy commented on #45
The change was done within #48 task (since log name was changed anyway)

[2016-10-31 10:13] #45 closed

[2016-10-31 10:13] bugy commented on #48
Main changes were done, waiting for code review to start evaluation.
After some evaluation time ticket can be closed.

[2016-11-07 17:12] bugy commented on #48
Was tested for 1 week, working ok.

Also changed secret key generation in the meantime, now it's saved in a file after generation, so server restart doesn't require everyone to re-log in

Need to test the change on windows as well

[2016-12-07 14:24] bugy opened #50 "Back button is not working"
When you press back button in browser, the URL changes, but the page is not updated

(at least in Chrome)

[2016-12-23 08:57] bugy opened #51 "Make launcher script executable"
Now in order to launch the server, user has to use
python3 launcher.py command
There should be a way just to launch it

[2016-12-23 09:34] bugy opened #52 "Script-server fails to read files, if they are in non utf-8 encoding."
Create config (conf/runners) with some exotic encoding.
Try to open page

Result: exception on the server side

[2016-12-23 20:11] #52 closed

[2016-12-24 14:08] bugy opened #53 "Add possibility to specify complex commands as a script"
Currently, script config requires, that "script_path" should be a single command. In some cases it's more convenient to have complex scripts starters, e.g.
"scripts_path": "python my_script.py"

[2016-12-24 14:09] #53 closed

[2017-02-07 08:14] bugy opened #54 "Send notification on script failure"
If script execution fails, script server should be able to send a notification, e.g. via email.
This should be possible to enable and configure

[2017-02-12 14:11] bugy commented on #54
Committed the first version. Alerts can be send over email (SMPT only) or to some http endpoint.

[2017-02-21 07:19] bugy commented on #54
Email and http notifications are working fine.

[2017-02-21 07:19] #54 closed

[2017-03-06 08:06] bugy commented on #49
Fixed

[2017-03-06 08:06] #49 closed

[2017-03-10 20:33] bugy opened #57 "Remove web libraries from the repository"
Now all the 3rd party web libraries are stored in the repository (jquery, materialize.css, etc.).
They should be removed from the repository and moved to the releases
Not to make developers work harder, there should be a way to include these libraries in the just cloned repository as well.

[2017-03-10 20:34] #43 closed

[2017-03-10 20:36] bugy commented on #44
Current layout is better, since it's more compact. Validation errors shouldn't stay for too long time

[2017-03-10 20:36] #44 closed

[2017-03-10 20:39] bugy opened #58 "Add server-side validation for parameters"
Currently, all the parameters are validated only on the client side. To make server safer, these parameters should be also validated on the server side.

[2017-03-10 20:47] bugy opened #59 "Improve security of command execution"
Check if any parameters or stdin should be escaped/secured. Investigate about potential risks of executing untrusted input.

+ Update README security section

[2017-04-20 13:42] bugy opened #60 "User input sometimes is not accepted"
When user runs a script and tries to send input (stdin) to the server, nothing is sent. However it looks like Enter command is sent in this case

There is also this error on user side:

[2017-04-24 05:24] #60 closed

[2017-04-28 21:47] bugy opened #61 "Sometimes not all output is flushed to a client side"
When executing fast scripts with a lot of output, sometimes output is not fully sent to a client size. Log files are also not full (cut at the same size).
This is specific for default PTY mode

[2017-04-28 21:56] #61 closed

[2017-04-30 09:56] bugy commented on #41
Done. By default coloring is enabled for linux and mac. Can be explicitly changed (for any os) in the config file, with bash_formatting parameter.

Supported colors: from standard 8/16 colors set
Supported styles: bold, underlined, dim, hidden.

Also added script for testing: colortest.sh (and colortest.json)

[2017-04-30 09:56] #41 closed

[2017-04-30 11:25] bugy commented on #50
Fixed

[2017-04-30 11:25] #50 closed

[2017-05-01 16:31] bugy commented on #34
Have implemented the first version of download feature. Now admins can specify list of files in script json file, which should be available for download after script is finished.
Files can be specified as a path (with * and ** wildcards), or can be specified as a regex (use # at the beginning to treat file as a regular expression) for find matches in script output (if file path is dynamic and unkn

[2017-05-02 06:38] bugy opened #62 "Script server prints strange characters after color block end"
Example output:
Some text

[2017-05-02 06:39] bugy commented on #62
Fixed

[2017-05-02 06:39] #62 closed

[2017-05-02 06:48] bugy opened #63 "Result file download: add possibility to mix path and regex mode"
Sometimes, not the whole path is printed to output (e.g. relative path or just a key word of path), so it should be possible to extract some text from an output and concat with the specified path.

For example, regex part of path can be wrapped with #:
`/home/#1#username=(\w)+#/*.txt`

[2017-05-02 08:24] bugy opened #64 "Script server downloads autoclean is not working if resultFiles folder doesn't exist"
It fails with an exception:
[code]

[2017-05-05 08:29] bugy opened #65 "When using large colored output, there is a major lag at the beginning"
Steps to reproduce:
1. Open testing "write to file" script
2. Execute it with "testtesttesttesttest" text, 5000 times, clear file
3. Execute again in "est" text, 1 time, NO clear file
Actual result: after several lines are shown, output freezes for a couple of seconds

[2017-05-06 12:16] bugy opened #66 "Show the username, who has launched a script"
Now, when script is launched, only script command is logged in the main log. Adding audit name (user name, hostname or IP) to it would be useful

[2017-05-06 12:41] bugy commented on #65
Fixed.

The problem was, that the whole script output (thousands of symbols) was read on server at once and then server started to split the output in colored chunks. These chunks were flushed only after whole text was parsed, which caused this lag. Now chunks are flushed as soon as they are available

[2017-05-06 12:41] #65 closed

[2017-05-07 07:34] bugy commented on #64
Fixed, now autoclean task is checking, whether the folder exists

[2017-05-07 07:34] #64 closed

[2017-05-07 07:44] bugy commented on #66
Done

[2017-05-07 07:44] #66 closed

[2017-05-07 21:06] bugy commented on #63
Done

[2017-05-07 21:06] #63 closed

[2017-05-08 19:56] bugy commented on #47
Added this feature for the default values (and constants)

[2017-05-08 19:56] #47 closed

[2017-05-08 20:00] bugy commented on #51
Added shebang for linux.
Should work on windows by default

[2017-05-08 20:00] #51 closed

[2017-05-08 20:05] bugy opened #67 "Add secure option for parameters"
Some parameters to the script shouldn't be shown to anyone (even administrator) for data security reasons (e.g. when a parameter is a password).
If parameter is secure, its value shouldn't be logged anywhere. This should be possible to enable in script json file per each parameter

[2017-05-13 05:46] bugy opened #68 "Remove six from dependencies"
This module is not default and needed for python2 compatibility. Since script-server requires python 3 anyway, there is no need for six module. So it can be removed not to cause useless requirements

[2017-05-13 05:57] bugy opened #69 "Cleanup project root folder"
Currently, there are too many files and folder at the root level. They should be cleaned and as less as possible should be left on root level

[2017-05-13 14:26] bugy commented on #57
Added script for downloading libraries after project clone: tools/init.py
Also added a script for making a build file script-server.zip, which includes all required files for launching script server in a single file.

[2017-05-13 14:26] #57 closed

[2017-05-13 17:19] bugy commented on #48
Works fine on windows also

[2017-05-13 17:19] #48 closed

[2017-05-14 09:00] bugy opened #70 "Possibility to specify complex command in a path doesn't work on Windows"
The feature was implemented in #53. However on WIndows it doesn't work

[2017-05-14 14:08] bugy commented on #70
Fixed... Original implementation was always ignoring windows

[2017-05-14 14:08] #70 closed

[2017-05-14 15:23] bugy opened #71 "Output isn't send immediately on Windows"
Tested on destroy_world script. On linux, the text is logged line by line. On windows all the text is appearing at once

[2017-05-14 15:31] bugy opened #72 "There are often exceptions after script execution on Windows"
It looks like these errors don't affect script execution itself, but it worth investigating and fixing

`2017-05-14 17:19:44,311 [tornado.general.ERROR] Uncaught exception, closing connection.
Traceback (most recent call last):
  File "C:\Users\buggy\AppData\Local\Programs\Python\Python36\lib\site-packages\tornado\iostream.py", line 523, in _handle_events
    self._handle_write()
  File "C:\Users\

[2017-05-14 15:31] bugy commented on #34
Tested on WIn and also made couple of fixes

[2017-05-14 15:31] #34 closed

[2017-05-14 15:38] bugy opened #73 "Move log shadow above log content"
Currently, in the GUI there is shadow shown, when scrolling is possible. However, the shadow is shown below elements and it looks strange, e.g. (from colortest):
![image](https://cloud.githubusercontent.com/assets/1275813/26035417/00ddf3a4-38cc-11e7-9424-97c74825df16.png)

ps also shadow switching causes performance issues on large amount of colored text. May be this fix could solve the performanc

[2017-05-14 15:56] bugy commented on #72
Fixed. It was caused by concurrency issue - tornado requires all the actions to websockets to be done in main IOLoop thread. And previously socket close() method was called from a different thread, which caused these errors on Windows time to time.

[2017-05-14 15:56] #72 closed

[2017-05-14 16:17] bugy commented on #71
This was caused by script itself. By default python flushes output in buffered mode, so executed script wasn't flushing all the data immediately, but rather in larger chunks.

Invoking script with -u flag ("python -u destroy_world.py"), solved the problem

[2017-05-14 16:17] #71 closed

[2017-05-15 07:31] bugy opened #74 "Make tools scripts executable on linux"
At the moment, tools scripts have neither shebang nor execution permissions. This should be fixed

[2017-05-15 07:32] bugy commented on #74
Fixed

[2017-05-15 07:32] #74 closed

[2017-05-26 19:06] bugy commented on #58
Done

[2017-05-26 19:06] #58 closed

[2017-05-26 19:09] bugy opened #75 "Make it possible to specify python scripts on windows"
Currently, if you specify python script in config just as a file, e.g.:
`"script_path": "destroy_world.py"`
it won't work, because windows fails to recognize this command. And you always need to prefix it with python executable.

[2017-05-27 07:43] bugy commented on #69
![screenshot](https://cloud.githubusercontent.com/assets/1275813/26519407/f0318706-42c0-11e7-8328-34ded505839c.png)

[2017-06-10 06:50] zoulja opened #76 "Need to correct paths for proper deployment"
Installation guide is incomplete, probably need to provide requirements.txt will all dependencies and correct path logic

**% git clone https://github.com/bugy/script-server**
...
**% tools/init.py**
Traceback (most recent call last):
  File "tools/init.py", line 8, in <module>
    import utils.file_utils as file_utils
ImportError: No module named 'utils'

**After 'pip3 install utils'**

**% tools

[2017-06-11 06:21] bugy commented on #76
Hi @zoulja, thank you for the report. I've improved the script, now it should be able to resolve internal dependencies based on current dir.
Coul you git poll and try again, please?

[2017-06-11 09:07] zoulja commented on #76
Hello.
Not sure what I'm doing wrong - all utils.* imports still fail
% git clone https://github.com/bugy/script-server
% ./init.py
Traceback (most recent call last):
  File "./init.py", line 10, in <module>
    import utils.file_utils as file_utils
ImportError: No module named 'utils.file_utils'

Python 3.5.3@Ubuntu 17.04

[2017-06-11 16:16] bugy commented on #76
Hi @zoulja, please run it from script-server folder (not tools), i.e. steps should be smth like:
1. git clone https://github.com/bugy/script-server
2. cd script-server
3. *tools*/init.py

[2017-06-12 08:27] zoulja commented on #76
Nope
[script-server]
% tools/init.py
Traceback (most recent call last):
  File "tools/init.py", line 10, in <module>
    import utils.file_utils as file_utils
ImportError: No module named 'utils.file_utils'

[script-server/tools]
% ./init.py
Traceback (most recent call last):
  File "./init.py", line 10, in <module>
    import utils.file_utils as file_utils
ImportError: No module named 'utils.file

[2017-06-12 21:57] bugy commented on #76
Hi @zoulja, this time it looks like a conflict with global *utils* module, you had installed. I've fixed the issue and now internal utils module should be imported.
Please update from the git repo and try again please (don't forget to run it from script-server path, as  tools/init.py)

Thank you for your time and sorry for the inconvenience

[2017-06-12 22:00] zoulja commented on #76
Ah, now I remember, I really installed utils module trying to solve this issue.
Not it's ok, thank you

[2017-06-12 22:00] #76 closed

[2017-06-17 15:50] bugy commented on #69
Rearranged root folder and made some other cleanups.

[2017-06-17 15:51] #69 closed

[2017-06-17 15:59] bugy commented on #68
Done

[2017-06-17 15:59] #68 closed

[2017-06-18 11:57] bugy commented on #67
Done, now parameter can be set as secure using "secure: true" value in script config
This parameter value won't be shown in the following places:
- in command log (which command was invoked)
- in process log file (all value occurences will be replaced with mask)
- on GUI, in a text field. It will be shown as a password

[2017-06-18 11:57] #67 closed

[2017-06-19 21:48] bugy commented on #73
Changed shadow to be a child element instead (as suggested on stackoverflow). It fixed the issue with shadow overlapping.

Also shadow doesn't cause performance issues anymore.

[2017-06-19 21:48] #73 closed

[2017-06-25 20:33] bugy commented on #75
Done

[2017-06-25 20:33] #75 closed

[2017-06-26 09:07] bugy opened #77 "Investigate "Vulnerable to Clickjacking" pentest alarm"
The script-server was tested with one penetration testing utility and there was one alarm:

This should be investigated and protected if needed

Possible solution:

HTTP header with the page's response. This prevents the page's content from being rendered
by another site when using the frame or iframe HTML tags.

[2017-06-26 10:09] bugy opened #78 "If user tries to close a page while script is running, there should be a notification"
Currently, if user closes a page, it just closes silently and running script is stopped.

This can be not very obvious for a user (or user can close a page unintentionally), so some confirmation (probably) should be asked.

[2017-06-26 11:23] bugy opened #79 "Protect script-server from XSS and XSRF attacks"
Currently script server is not safe enough against XSS attacks. Should be fixed

Possible solution
http://www.tornadoweb.org/en/stable/guide/security.html#cross-site-request-forgery-protection

[2017-06-28 08:54] bugy opened #80 "Improve Script-server behaviour, when web libraries are missing"
Currently web libraries should be downloaded separately from the repository (using tools/init.py script). If a user forgets to do it, then the UI would look broken.

There should be a message on UI about problems with loading the libraries, instead of showing the broken interface.
Also Script-server can validate the libraries on startup and WARN user if they are missing

[2017-07-02 12:47] bugy opened #82 "Fix issues, when script-server is run via reverse proxy (with location substitution)"
In some places script server is using absulote urls. So using it with a reverse proxy is not possible at the moment.

See PR #81

[2017-07-09 22:40] bugy commented on #78
Unfortunately modern browsers doesn't allow to have custom windows close confirmation. So a standard dialog is shown (e.g. "there are some unsaved changed" in chrome).

[2017-07-09 22:40] #78 closed

[2017-08-29 10:03] bugy opened #83 "Add admin panel with possibility to view last launches and logs"
There should be an admin panel (restricted by some authentication), where an admin can view launches history and logs for each launch

[2017-11-22 23:56] csphoenix1 opened #84 "Allow running multiples scripts in the same time"
It could be usefull to allow us running multiples scripts as the same time.
Usecase : running a script during another one is finishing to run.

Thank you :) It's realy a good project !!

[2017-11-23 08:23] bugy commented on #84
Hi @csphoenix1 thank you for the issue and positive feedback.

Couple of questions to better understand the usecase:
1. How many scripts do you usually run in parallel?
2. Are these the same scripts?
3. Could script executions influence each other?
4. You can "workaround" the problem by opening multiple tabs of script server, right?
5. Do you have an suggestion, how you would like to see running p

[2017-11-24 00:08] csphoenix1 commented on #84
Hi @bugy ,

1. For this moment, it's just few scripts, but, if that's possible, I could plan to execute maybe 20 scripts in the same time ? :) (cause I have some scripts which make a long time to be completed).
1. Effectively, they could have multiple instance of the same scripts.
1. I have no script which could influence each other, but, if it append, is that a problem?
1. Yes, it's what I do, bu

[2017-11-24 06:49] bugy commented on #84
Hi @csphoenix1, thanks for the answers. I'll see how would it better to implement it.
And I'll have a look at "portainer" and other similar tools

[2017-12-06 20:00] csphoenix1 opened #88 "Feature to have possibility to downloads each times the logs file after script execution"
It cool be cool to have a feature that allow the download of the log file after each execution of a script (in addition to the potentials output files).

[2017-12-06 20:03] csphoenix1 opened #89 "Feature to add the basic auth username in the logs"
In order to have an authentication system based on the auth basic I have implemented a reverse Proxy (with NGinx) by authenticate the users and it could be interessant to have the possibility to add the basic auth username in the logs.

[2017-12-06 20:24] bugy commented on #89
Hi @csphoenix1, good idea! This can be used instead of IP/PC Name, correct? Do this parameters come as http headers?
And how do users specify their credentials? I don't have much experience with reverse proxies

[2017-12-06 20:28] bugy commented on #88
Hi @csphoenix1, this shouldn't be hard to implement, but I'm not sure how to make it from UX perspective. Why do you/users want to download log file? You as admin always have access to these log files.
Probably we could add a configuration parameter, which will enable log download.
Do you want to have it for every script? Or only for some of them?

[2017-12-06 21:03] csphoenix1 commented on #89
Hi @bugy :)
The username field could be come in addition with the historical fields (ie : IP and PC Name which are very useful informations to identity the person who have launched the script).
The user specify their credentials via a popup (https://www.ntu.edu.sg/home/ehchua/programming/webprogramming/images/HTTP_BasicAuthLogin.png).
And the username parameter come in the http header, yes (I not

[2017-12-06 21:08] csphoenix1 commented on #88
Hi @bugy ,
What mean "from UX perspective"?
From the administrator view, yes we could going to the logs directory, but from a non-admin user, or if we can't going to the logs directory because we launch the script from a computer which if not the same than the script-server app's host, I could be cool to have the possibility to download the logs file, instead of copy the output manualy (ie : with

[2017-12-07 06:33] bugy commented on #88
Hi @csphoenix1, with "UX perspective" I meant how it will be most convenient for users and with keeping UI as simple as possible.
To be honest I still do not understand why users would like to download log files. Will they extract some important information from these files later?

For admins there is a pending more global feature - admin panel #83, with possibility to view logs via web interface

[2017-12-07 15:57] csphoenix1 opened #90 "Custom the site title from the server configuration file"
Actually the website title in hard-coded in the index.html page.
Is possible to add a feature to custom it in the server configuration file?

Thank's!

[2017-12-07 22:19] bugy commented on #90
Hi @csphoenix1, I've made a change (it was quite simple). Now you can set it in server conf.json file via "title" parameter. This change requires server restart
At the moment, the page will always open with default title (Script server), but in a second it is replaced with a custom title. Hopefully it's not a large problem

[2017-12-08 09:29] csphoenix1 commented on #90
Oh it's perfect thank you :) I'll analyse the modifications and maybe, I could implement some new features like that by myself and without disturb you :)

[2017-12-12 23:06] bugy commented on #90
Hi @csphoenix1, does the change work for you? Can I close it?

[2017-12-13 01:05] csphoenix1 commented on #90
Hi @bugy,
It work perfectly :) Thank you.
You can close this involved.

[2017-12-13 01:05] #90 closed

[2017-12-13 01:12] csphoenix1 commented on #88
Hi @bugy,
For example, I have some scripts which install some packages remotely on my servers.
And sometimes, the installation failed :(

So : I have to copy the text and paste it in a file, then save it to analyse it later.

Finaly, it could be more easily for me if I've just to click on "Download Log File" at the end of the script by using the functions which already exist :)

However, I underst

[2017-12-13 10:53] bugy commented on #88
Hi @csphoenix1, to be honest, I'd prefer _not_ to add this feature - to keep user interface as simple as possible. In all the cases I met, non-admin* users didn't care about logs, they even don't read it on a screen sometimes.
For admin* users, all script log files are stored in server folder and can be accessed anytime later. I agree that it's less convenient, but hopefully abnormal cases don't h

[2017-12-13 16:33] bugy commented on #89
Hi @csphoenix1, I added this feature. Now if basic auth username is available, it will be shown as an audit name (instead of hostname/ip)
In addition, when starting a script, all available user information is logged (ip, hostname, basic auth username, ldap username)

Could you test my change on your setup please? Does it work properly?

[2017-12-20 08:05] bugy opened #91 "Add script log to alerts"
If script fails, the alert is sent.
If would be useful to have script log there (beside user and exit code)

[2017-12-25 09:41] bugy commented on #84
Hi @csphoenix1, I've implemented the first (very simple) version. Now a user will be able to run _different_ scripts in parallel. Simultaneous execution of the same script is not possible yet.
Could you check if current change works for you? Do you need parallel execution of same scripts? Unfortunately I couldn't come up with a clean design for such scenario

*Important* you have to _init.py_ agai

[2017-12-25 09:44] bugy commented on #82
This feature is implemented long ago and seems to be working.
Added description to a wiki with example of proper proxy (nginx) config: https://github.com/bugy/script-server/wiki/Using-as-a-reverse-proxy

[2017-12-25 09:44] #82 closed

[2017-12-25 09:45] bugy commented on #59
Should be safe. Documented in wiki and readme

[2017-12-25 09:45] #59 closed

[2017-12-25 12:35] bugy commented on #80
Validation on web page is not possible.
I added validation on server startup

[2017-12-25 13:38] bugy commented on #77
Fixed, now X-Frame-Options DENY is sent for all ajax/static requests

[2017-12-25 13:38] #77 closed

[2018-01-01 13:45] bugy commented on #91
Added. Now log is attached as a log.txt file.
In case of HTTP it's also sent as a file.

[2018-01-01 16:49] #91 closed

[2018-01-16 18:14] csphoenix1 commented on #84
Hi @bugy !
First, best wishes for this new year :)
About your implementation, it work perfectly!
I've test with some different scripts.
It's really cool (the loading round, the check after the script is completed, ...).
Thank you!
(I will analyse your code to learn how you did it :) )

Ps : no problem. I will send you the Dockerfile but just before: I have to test it to be sure it work really well

[2018-01-16 20:42] bugy commented on #84
Hi @csphoenix1, happy new year to you too :)
Thank you for the feedback and contribution!

I'm closing the ticket as finished then. If you have any further questions/ideas, please don't hesitate to contact me or to raise new issue.

[2018-01-16 20:42] #84 closed

[2018-01-17 15:54] bugy opened #92 "Log panel goes out of the screen on Firefox"
If you execute a script with quite long output, then log panel grows outside of the screen.
It shouldn't grow, but add a scroll instead

[2018-01-28 09:57] #92 closed

[2018-02-14 11:30] pollier opened #93 "UI responsive fix"
Hello,
Would it be possible to make arguments drop down list responsive to the size of the values ?
Actually there is a horizontal scrollbar which is not very usable in some case.
![screen shot 2018-02-14 at 12 26 42](https://user-images.githubusercontent.com/18324962/36202022-6a31916e-1182-11e8-8155-c1e0bc9c59e8.png)

Thank for your great work so far :)

[2018-02-14 11:47] bugy commented on #93
Hi @pollier, thank you for the ticket and feedback!
I think this improvement should be possible. I'll try to fix it this week

[2018-02-14 11:52] pollier opened #94 "Let scripts run in background"
Hello,
It would be cool that closing the webui don't stop script execution.

[2018-02-14 11:55] pollier opened #95 "Google Oauth user identification"
Hello,
I'm currently playing with the auth system,
actually using nginx with http basic_auth, i would like to know if an Oauth connector like the ldap one is possible ?
If not, do you know a way to handle this with apache2 / nginx ?

[2018-02-14 12:00] bugy commented on #94
Hi @pollier, the problem here is with hanging or interactive scripts. When user closes the UI and script waits for user input, then the process will live forever.

Probably I can add an option to each script, "allow background execution". In this case the user will take responsibility for hanging processes :)

[2018-02-14 12:05] bugy commented on #95
Hi @pollier, this should be possible to add this feature, according to tornado documentation.
I'll try to do it this week

[2018-02-14 12:05] pollier commented on #94
Would be great with the option,
maybe we can imagine a mechanism like screen which allow to reattach standard input / output too ?

[2018-02-14 12:11] bugy commented on #94
Reattaching would be a bit trickier, but still possible (actually at the moment web page supports "reattach", but only without leaving the whole page).

I'll do this option first, and some time later will return back to reattaching feature.

[2018-02-14 22:04] bugy commented on #93
Hi @pollier, I made a small fix for it, now the width should be able to extend up to 50% of a screen.

But I have a question regarding your screenshot: do you always have so narrow dropdows? On your screenshot, "Choose your option" is split into 2 lines, however on my machines it's always a single line (so the whole combobox is a bit wider).
Which browser do you use? Or do you have a retina displa

[2018-02-14 22:13] pollier commented on #93
Chrome on macOS High Sierra 10.13.3
Version 64.0.3282.167 (Official Build) (64-bit)

1440 x 900 pixels
24 bit

BROWSER WINDOW SIZE
1440 x 825 pixels
"Do Not Track" is Enabled
ABP Enabled

Yes all dropdown are the same width

[2018-02-15 10:13] bugy commented on #93
Hi @pollier, thank you for the info. I've checked on Chrome in Mac OS and can see the same problem (all the fields are narrower than should be). Actually even Safari seems to render them in proper width.

I'll change fields layout to be fixed grid, so it will be independent on Browser width for different fields.

Have you checked my fix for the dropdown already?

[2018-02-16 15:40] pollier commented on #93
Perfectly fixed on my side 💯
Thanks

[2018-02-16 15:46] bugy commented on #93
@pollier, cool, thanks for the feedback!

I'll leave the ticket open - going to add support for even longer values.

[2018-02-18 06:34] bugy opened #96 "Add uploadable "file" parameter"
User should be able to upload a file and pass it to a script as a path parameter. For the initial implementation, path should always be a full path to the file on a server after upload.

Files should be uploaded with the same names (replacing special OS symbols if needed) and overwrite existing files by default. There should be an option to disable overwrite, in this case script-server should add

[2018-02-18 06:36] bugy opened #97 "Cleanup classes: replace class fields with object fields"
At the moment a lot of classes have incorrect fields structure, e.g.
class SomeClass():
  field1 = None
  field2 = None

These fields should be either removed or changed to object fields (i.e. moved to constructor)

[2018-02-21 08:45] bugy commented on #95
Hi @pollier, I made the first version of Google Oauth integration. In order to use it, add/change following settings in conf.json file:
[code]

In order for oauth to work, both client and server should have connection to google servers (https://accounts.google.com and https://www.googleapis.com)

For configuring access in google, you can follow this guide: http://www.tornadoweb.org/en/stable/auth.

[2018-02-23 00:05] pollier commented on #95
Thank you :)
I'm quite busy this week but will test it soon 👍

[2018-02-23 00:14] pollier opened #98 "Docker"
I'm deploying  CI  / CD / Docker for script server on my company system.
Not production ready yet but on good way
Currently testing those tools :
- Jenkins (maybe Travis CI SaaS for CI of the project as it's free for opensource project)
- Ansible
- Docker
- Docker-compose ?

Any feedback, idea and feature requests are welcome !

[2018-02-23 08:39] bugy commented on #98
Hi @pollier, I'm not sure if I understood you correctly.
Do you want to build your custom setup or this script-server project? For the latter case I believe some cloud-based CI would be the best option. I tried to play with Travis CI a bit, but there are 2 missing features as for me:
1. No possibility to download build results from CI page. Artifacts should be uploaded somewhere as a part of build

[2018-02-25 13:38] bugy commented on #95
Important change: now redirect URI in google config should be _url_/login.**html** (i.e. html page instead of rest URL)

[2018-02-25 13:52] bugy opened #99 "User interface doesn't show anything, when script cannot start"
Steps to reproduce:
1. Create script config with unexisting script path
2. On UI side start the script

Result: nothing happens on client side on button click.
Expected result: log panel is shown, with the following logs:

[2018-02-25 15:34] bugy commented on #95
Added authorization support (which users can access the server). There is a new field: "allowed_users" for auth config block. This setting is mandatory, when Google OAuth is used.
Value should be a list, e.g.:
"allowed_users": ["user1", "user2"]
If any user should be able to access the server, use asterisk:
"allowed_users": ["*"] **or** "allowed_users": "*"

[2018-02-26 06:53] bugy commented on #99
Fixed

[2018-02-26 06:53] #99 closed

[2018-02-26 20:14] bugy commented on #94
New script config option added: kill_on_disconnect (true/false). By default it's true
If set to false, then closing a web page will not affect script execution.

[2018-02-26 20:20] bugy opened #100 "Allow reconnection to running script"
If user reloaded (or opened and then closed) a page, he should still see and control currently executing script.
At the moment this is possible only within opened page.
Also, #94 config should be removed - all the scripts should have a possibility to run in disconnected mode

[2018-02-26 20:36] bugy opened #101 "Confirm server exit, when some scripts are still running"
When admin tries to stop the server (with graceful kill) and some scripts are still running, there should be a confirmation prompt for it. On confirm, the server should exit, otherwise continue working.

[2018-03-08 14:12] csphoenix1 commented on #89
Hi @bugy ,
It's been a long time ! :)
So I test this feature, and it work perfectly! :)

One more thing, do you think it if it could be possible to customize the log filenames?
I would like to have the possibility to customize the timestamp "YYYYDDMM-HHmmSS" instead of "YYDDMM-HHmmSS" and also have the possibility to keep the hostname/ip with also the username if available?

Thank you, and as usua

[2018-03-08 14:17] csphoenix1 opened #102 "Autocomplete the field by the URL"
Hi @bugy ,

It could be cool if the value in the field could be autocompleted by the values in the URL.

Example:
- http://my-super-script-server/index.html#My-super-script?hostname=1.2.3.4

Like that, if the script "My-super-script" have a field named "hostname", the value is autocompleted :)

[2018-03-08 15:34] bugy commented on #89
Hi @csphoenix1,
Just out of curiosity - why do you need a full year in the log name?

And I didn't get your proposal about hostname/ip. Do you want to see it in the filename? It will be too long.
All this information is already available in the server.log file

[2018-03-08 15:39] bugy commented on #102
Hi @csphoenix1, how is it supposed to create such URLs? Do you want to create them manually?

Just in case: do you know that you can specify default value for a parameter?

[2018-03-08 16:17] csphoenix1 commented on #102
Hi @bugy ,

Yes. I could create them manually. For example, I have a script to wake up my personnal computer et my wife computer (via WakeOnLan).
If I could pass the hostname parameter through the URL, I could create a desktop shortcut on my smartphone to wake on lan my computer or my wife's computer.
Exemple:
http://my-super-script-server/index.html#WakeOnLan?macadress=12:23:45:67:89:01
http://my

[2018-03-08 16:28] csphoenix1 commented on #89
@bugy ,
I hope that my future grandchildren will continue to use your super script-server program in the year 2119. So with 4 digits, we could make the difference between years 2000 and years 2100 ^^
More seriously, it's because I like the year be on 4 digits. It's psychological ^^.

About hostname/ip and informations in the filename, I love informations and details, so I was thinking a feature to

[2018-03-09 12:03] bugy opened #103 "Make log filenames configurable"
At the moment all the log files have the same pattern: script-user-date.log
It should be possible to change the pattern and date format.

(The issue is based on comments: https://github.com/bugy/script-server/issues/89#issuecomment-371497772 and https://github.com/bugy/script-server/issues/89#issuecomment-371540905)

@csphoenix1, welcome as a watcher

[2018-03-09 12:03] #89 closed

[2018-03-09 12:05] #88 closed

[2018-03-09 12:16] bugy commented on #96
Done.
New parameter type: file_upload
A specified file is uploaded to a script-server temp folder and then passed to a script as an absolute path.

Example:
1. User sends file **my_file.txt**
2. File /path/to/script-server/temp/uploadFiles/abc/123/**my_file.txt** is created
3. Script is called like: my_script.sh -f /path/to/script-server/temp/uploadFiles/abc/123/**my_file.txt**

[2018-03-09 12:36] #97 closed

[2018-03-14 20:22] bugy commented on #93
Even longer values was too hard to support, so for now they are just ellipsised, until anyone needs them.

[2018-03-14 20:22] #93 closed

[2018-03-15 11:03] #96 closed

[2018-03-30 15:52] andres-v2 opened #105 "RuntimeErrors on script execute"
Trying to launch a simple "git push" script with bugy and the execution stalls with no output shown. If I insert any random text via the "your input" box the script launces normally and shows expected output, but does not finish script until page is reloaded.
Attached error messages from log.
[bugsy_error_log.txt](https://github.com/bugy/script-server/files/1864037/bugsy_error_log.txt)

Using pyth

[2018-03-30 17:46] bugy commented on #105
Hi Andres, thanks for the report. According to the logs, script execution works properly and input is accepted, but script output cannot be sent to the browser (server bug). I'll try to look later.
Are you using Windows?

[2018-03-30 19:25] andres-v2 commented on #105
Hi. Bugy is running in Debian 9 and browser in Windows 7. Thanks.

[2018-03-30 22:10] bugy commented on #105
Hi @andres-v2, if you are using released version, could you try to replace src/server.py file with the attached one (unarchive it first)?
[server.zip](https://github.com/bugy/script-server/files/1864885/server.zip)

Apparently, you are using tornado 5 (which was released not far ago for debian) and script-server doesn't work with it (I tried to do a quick fix in the attached file)

PS the project

[2018-03-31 05:53] andres-v2 commented on #105
@bugy - yes, using tornado 5.0.1.  Good to know this is the cause of issue.
I tried replacing the server.py and got the following error when executing launcher.py:
Traceback (most recent call last):
  File "./launcher.py", line 11, in <module>
    server.main()
  File "src/server.py", line 681, in main
    result_files_folder = file_download_feature.get_result_files_folder(TEMP_FOLDER)
AttributeEr

[2018-03-31 07:10] bugy commented on #105
Hi @andres-v2, I did the fix only for released version (from https://github.com/bugy/script-server/releases/tag/1.10-rc2)
Could you try to use released script-server version?
Download and unpack script-server.zip file, and then replace the server.py file there.

[2018-03-31 08:38] andres-v2 commented on #105
Hi @bugy , looks like that fixed it. I was using the latest version from git previously.
Thanks a lot, this is exactly what I needed.

[2018-04-02 13:05] bugy commented on #105
Fixed in codebase as well

[2018-04-02 13:06] #105 closed

[2018-04-03 21:25] csphoenix1 opened #106 "Exception with script path containing spaces"
Hi !

If there is one or more spaces in the script path, the script path is interpreted as a script path with arguments.

It's not the expected behavior :)

[2018-04-04 06:34] bugy commented on #106
Hi @csphoenix1, to be honest, it's somehow expected behaviour :) #53
Script_path parameter can be a command like 'python my_script.py' or 'java -jar my_app.jar'.
So if a filename contains spaces, it should be wrapped with a quote, e.g.
"script_path": " 'my script.sh' " (spaces around quotes are not needed)

However, I'll improve the behaviour: if the file with spaces exist, then script_path will b

[2018-04-04 19:38] csphoenix1 commented on #106
Hi @bugy ,

Oh yes! I didn't saw it #53.

Ok, so... perfect ^^ as usual ;)

And again: great job!

[2018-04-05 00:14] csphoenix1 opened #107 "There is no current event loop in thread and process already finished, ignoring input"
Hi !

On the version 1.10-rc2, (and also on an older version), I have king of this message in the server log file whereas the web interface is always running (when I click on the button STOP, it doesn't work, the process still continue to running, but in fact, the log file tell the opposite).

[code]

Could I tell you other things which could help you to resolve this problem?

Thank you !

[2018-04-05 06:29] bugy commented on #107
Hi @csphoenix1, thank you for the report. Please have a look at #105
This is a problem with Tornado 5.
For the temporary solution, please replace src/server.py file with https://github.com/bugy/script-server/files/1864885/server.zip

In master branch the issue is already resolved, but I believe I have to cherry-pick it to release as well

[2018-04-05 21:07] bugy commented on #83
Done. The page is available at /admin.html
Access to the page is configured by "admin_users" field in conf.json file (by default it's localhost/127.0.0.1 access). Username is selected in the same way as audit name (the first not empty: auth username -> base auth -> DNS name -> IP). Thus, if auth is enabled, then username is always logged in username. If it's disabled, then in most cases it will be

[2018-04-05 22:20] bugy commented on #83
Apparently timezones code works incorrect before python 3.6... To be fixed

[2018-04-06 11:50] csphoenix1 commented on #107
Hi @bugy
Ok thank you @bugy for these informations.

[2018-04-06 17:16] nadzorov opened #108 "Missing logs directory"
Hello,

launcher.py fails with following error:

`Traceback (most recent call last):
  File "./launcher.py", line 11, in <module>
    server.main()
  File "src/server.py", line 593, in main
    logging.config.dictConfig(log_config)
  File "/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/logging/config.py", line 795, in dictConfig
    dictConfigClass(config).co

[2018-04-06 19:53] bugy commented on #108
Hi @nadzorov, thanks for the report, I've committed the fix.

[2018-04-12 19:17] #107 closed

[2018-04-12 19:53] bugy commented on #106
Done. Now if file_path contains whitespaces and is a real file (in working folder), then it will be treated as a single argument. Otherwise (if file doesn't exist), then script_path will be split into multiple arguments (as before).
However such configs should be avoided and explicit quotes should be used.

[2018-04-12 20:09] bugy commented on #83
I **disabled** a possibility to authorize admin users based on Basic Auth header or hostname. They can be easily fabricated by an attacker, so absolutely not safe to use.
So, authorization is done either by auth username (DNS or OAuth) or IP (if auth disabled)

[2018-04-14 10:51] bugy opened #109 "Fix python 3.4 support"
Current master version of script-server requires at least python 3.5 (because of types usage). Before next release it should be fixed (and travis file should be updated)

[2018-04-15 05:54] #109 closed

[2018-04-15 16:27] bugy commented on #106
Works fine on windows

[2018-04-15 16:27] #106 closed

[2018-04-15 16:27] #108 closed

[2018-04-15 18:35] #95 closed

[2018-05-06 12:38] bugy commented on #101
Done

[2018-05-06 12:38] #101 closed

[2018-05-25 21:36] tristanlepachyderme opened #110 "No output displayed - WebSocket issue with Nginx proxy"
Hi,

First, bravo for your work, this application is exactly what a lot of people need.
I have an issue though...
I configured a test script that only echo 'Hey', it launches correctly but no output is written in the script page, just "Calling the script...". The output appears correctly in the admin page and the process logs.
We can note a warning in the server log :
[code]

I'm running Red Hat 6

[2018-05-25 22:58] tristanlepachyderme commented on #110
Ok, the issue come from the Nginx proxy, some configuration in order to support WebSocket was needed
[code]
But, now tornado is saying that cross origin websockets are not allowed
[code]

[2018-05-25 23:01] tristanlepachyderme commented on #110
This solved my issue.
Thanks.
https://github.com/bugy/script-server/wiki/Using-as-a-reverse-proxy

[2018-05-25 23:01] #110 closed

[2018-05-26 04:47] bugy commented on #110
Hi, thank you for the feedback and I'm glad that it worked for you :)

[2018-05-29 13:19] tristanlepachyderme opened #111 "Long task is being killed"
Hi !

Me again,
I think your script handler automatically kills a script if it doesn't display anything for a couple seconds.
Is it a normal behaviour and can we configure it ?
I'd like to run longer tasks that doesn't necessarily print stuff all the time.
And the execution_service doesn't log anything after '>> KILLED'  is displayed is the output.

Can you help ?

Thanks

[2018-05-29 13:26] bugy commented on #111
Hi @tristanlepachyderme,
Script Execution is **killed** if a user is closing the page (or any other disconnect happens). I believe it's your case.
Script-server doesn't have any timeouts handling.
However, it could be, that if no output is provided for a couple of minutes, a browser can close WebSocket connection automatically. Thus script-server will kill execution on disconnect.

You can read ab

[2018-05-29 13:45] tristanlepachyderme commented on #111
Hi,

Many thanks for you explanation,
Indeed kill_on_disconnect option of the script config do the job.
After, we need to go to the admin page to see the process output :)

Thanks !

[2018-05-29 13:48] bugy commented on #111
Hi, thanks for the update and sorry for inconvenience.
Probably you could add some intermediate output to your script (e.g. printing a dot every minute) as a workaround.
I'll add heartbeat mechanism to the next released version.

[2018-06-01 13:19] bugy commented on #100
Done.
The setting "kill_on_disconnect" was removed. Now it's always true (i.e. closing a web page won't affect execution).
While script is running, it's always possible to connect to it, even from multiple windows/tabs. In this case all of them should recieve identical information regarding output and downloadable files.
If no user session is active and execution finishes, then opening the web pag

[2018-06-02 15:32] bugy commented on #111
Some more investigation info:
It seems to be proxy (nginx) related - https://github.com/tornadoweb/tornado/issues/1070

[2018-06-02 16:13] bugy commented on #111
Fixed.
Will be in the next release

[2018-06-03 06:42] ivitlin opened #112 "Massive consequential output hangs the server"
Hello!

Really appreciate your work, great tool!
The only problem I've encountered is that consequential output (like wget download progress bar or pip installation bar and similar) isn't supported to be displayed on single line as it's intended and supported by terminal apps like Putty.
For example:
In Putty, the bar is filled on the same line:
Downloading ***.BIN.ZIP ...
|=======================

[2018-06-03 07:49] bugy commented on #112
Hi @ivitlin,
Thank you for the report! I'll try to have a look later today.
The problem with single line output is clear (this behaviour is not supported yet)

But the problem with CPU looks strange to me. According to your log, there should be ~50000 lines of text in total, which should be fine for script-server, especially without bash formatting.
May I ask you for some help with this investigat

[2018-06-03 13:35] ivitlin commented on #112
Hi, I did as you said, even 100000 lines were generated successfully, both in file and in terminal. I think it's not the number of lines what's hangs the server, but frequency of terminal update requests. Unfortunately, I can't provide scenario when the issue reproduces in 100% cases. Sometimes server seems to be hanged, but after 3-5 mins it's back to life. Besides, I'm running the server on weak

[2018-06-03 13:48] bugy commented on #112
Hi @ivitlin, thank you for providing the test results! One more thing came to my mind - performance problem could be due to not effective bash formatting in case of unsupported formatting code (replace line).
Could you try to disable bash formatting for this script config please? This can be done with the following parameter
"bash_formatting": false

Regarding support for single line output - I'll

[2018-06-03 14:03] ivitlin commented on #112
Great workaround - disabling bash formatting really helped: CPU load didn't even reach 30% and script finished running in 30 sec, while the same script with bash formatting enabled took 100% of CPU and run for 3 minutes. Many thanks! Anxiously waiting for support for single line output.

[2018-06-03 14:17] bugy commented on #112
Thanks for the feedback, I'm glad this setting helped!
I will try provide single line support as soon as possible

[2018-06-04 13:08] muzzol commented on #82
sorry for resurfacing this issue but I need a proper example for apache as I'm facing same issue.

can you post a working example with apache proxypass?

[2018-06-04 13:11] bugy commented on #82
Hi @muzzol,
Unfortunately I don't have an example (and experience) with apache at the moment.
I'll try to prepare it today.

[2018-06-04 14:32] bugy opened #113 "Add description for running script-server behind Apache reverse-proxy"
Moved from https://github.com/bugy/script-server/issues/82#issuecomment-394348126

[2018-06-04 16:57] bugy commented on #100
This issue has a large leak with running behind a proxy without authentication. In this case all user IPs are replaced with the IP of the proxy and script-server thinks, that it's the same user all the time.
We can get real user IP via X-forwarded-for header, but it's vulnerable to attacks, so this improvement should be done in a smarter way.

[2018-06-04 16:59] bugy commented on #113
Hi @muzzol, I've created a config for apache as a reverse proxy. Please note, that I'm not professional Apache administator, so my solution can be not optimal/correct. But at least it works for me

The following apache mods should be installed:
- proxy
- proxy_http
- proxy_wstunnel
- rewrite
- headers

Add the following section inside VirtualHost:
[code]
Update _ScriptServerUrl_ if needed

Also pl

[2018-06-04 20:42] bugy opened #114 "User IP resolving not working behind proxy"
If script-server is running behind proxy, then script-server always sees request IP as an IP of the proxy.
Since authorization is based on IP (if LDAP/OAuth is not enabled), in this scenario all the users have access to everything and can see scripts, started by other users.
This affects at least the following functionality:
- opening admin page
- seing active script executions of other users
- mi

[2018-06-04 20:43] bugy commented on #100
Moved proxy IP issue to a separate task, since it's related not only to active executions: #114

[2018-06-05 06:27] bugy opened #115 "Logging: deleting log file at runtime, causes error on opening script logs on admin page"
Steps to reproduce:
1. Execute any 2 scripts
2. Open admin page and check, that the scripts are there
3. Remove **one** corresponding script log file
4. Reload admin page
Actual result: the list of scripts is empty and there is an error on server:

[2018-06-05 06:56] bugy commented on #112
Hi @ivitlin, could you tell me, please, which tool are you using for download? I checked wget, but I get different output for it and no performance issues. Most probably the tool you used is using different codes for formatting and I would like to add support for both (wget style and the one you have).

[2018-06-05 08:04] muzzol commented on #113
thanks a lot for that quick response.
I'm really looking forward this project, so expect some feature requests and hard testing from my side
:)

[2018-06-05 10:45] muzzol opened #116 "Add init script"
I've created a simple init script for systemd.

Is tested on Debian 9 at it should go to **/lib/systemd/system/script-server.service**

then you can use usual commands like

    systemctl enable script-server.service
    systemctl start script-server.service
    systemctl stop script-server.service

to manage your server.

you have to modify **ExecStart** to suit your path:

[code]

maybe this cou

[2018-06-05 11:46] muzzol opened #117 "Allow html tags in description element"
This is a feature request to allow html in description so you can do something like this:

      "description": "Click <a href=\"https://intranet.company.com/userinfo/\">here</a> for more detailed info",

I use this a lot with my current setup. Maybe this could be restricted to allow only some tags to avoid any exploitation.

[2018-06-05 11:57] muzzol opened #118 "Add ACL support"
This is a feature request for Advanced Control List on runners.

[code]

So only members of those specified groups can see defined scripts.

[2018-06-05 13:28] ivitlin commented on #112
Hi, the output if from Perl-based IP2Location download script:
https://www.ip2location.com/free/downloader

[2018-06-05 18:14] bugy commented on #112
Hi @ivitlin, thank you. Unfortunately it seems that it's not available for free testing. May I ask you to send me a partial execution .log file from logs/processes folder (or a full one, if there is nothing private) ? In this file exact output is logged, so it should be enough for me
You can attach it here or email to me: buggygm@gmail.com

[2018-06-06 07:50] bugy commented on #112
Hi @ivitlin, thank you for sharing the file!

According to .pl file, \r character is used for replacing the last line.
However in the log file I see only \n characters. It could be another bug, that \r characters are ignored there...

Anyway, it seems that most download tools are using \r for amending the last line. So I'll work on this case at first and then add other formatting support.
At the m

[2018-06-06 09:53] bugy commented on #116
Hi @muzzol, thank you very much for the script and description.
I'm thinking about putting this information into wiki section (since it will have a description also), like for proxies. What do you think?

[2018-06-06 09:55] bugy commented on #113
Hi @muzzol, you are welcome!

Cool, I'm always glad to get new feature requests. Unfortunately I cannot guarantee quick solving of those. Depending on feature size it usually takes me 0.5 - 2 weeks for a new feature.

[2018-06-06 10:03] muzzol commented on #116
yes, is a good idea. thanks for your time.

[2018-06-06 13:02] muzzol commented on #118
a really simple example about getting all groups from a user:

[code]

[2018-06-06 13:55] bugy commented on #118
Hi @muzzol, thanks for the feature request :) I was going to implement it for

Your second comment (regarding ldap) is quite important. Are you using ldap? To be honest I was going to implement own grouping for script server.
But your idea about getting groups from LDAP (if this authentication is available) is quite cool. However there is a small problem with it: I have access to user password onl

[2018-06-06 14:29] muzzol commented on #118
Yes, I use LDAP to centralize all my user data and I don't think you need the password once you log in.

caching for the whole session is the usual aproach in lot of projects that rely on external auth.

Usually you get all your information in a single query at login time and you store it in a list (or array, tupla, etc)  so you can access it later. the only drawback is when group membership chang

[2018-06-11 12:28] muzzol commented on #113
Additional information regarding proxypass in apache: I had to activate some modules in order to get it working.
[code]

pay special attention to the last one (wstunnel) as isn't usually activated by default.

[2018-06-12 13:39] tristanlepachyderme commented on #116
Hi,

Yeah, gathered this little init.d script for CentOS and RedHat 6.9 if this can help :
[code]

[2018-06-12 20:04] bugy commented on #116
Hi @tristanlepachyderme, thank you! I'll publish this solution also

[2018-06-13 05:33] bugy commented on #112
Just an update: I'm still working on this issue, unfortunately it took a bit longer than expected. New estimate is to finish until the end of the week.

[2018-06-19 20:53] yosefy opened #119 "possibility to dynamically update option from result of another option"
question / suggestion

use case:
running ansible:
1) choose playbook for example test1.yml (from ls on playbooks dir)
2)dynamically create  options from file of the same name but with _config (test1_config.json)

i guess all that needs react type of  ui updates.

may be you have some ideas

thanks

[2018-06-19 21:13] bugy commented on #119
Hi @yosefy, I think it's a good idea, thank you for the proposal!
Unfortunately it's not supported at the moment, and should be implemented. However I'm quite busy at the moment and won't be able to implement this feature in the nearest couple of weeks. But I'll work on it as soon as possible.

Probably as a temporal solution you could create select from option inside your script. I.e. the first p

[2018-06-19 21:23] yosefy commented on #119
thanks!
question:
"but then during script execution there is an options selection like"
i don't understand how to do it...

lets say i have chosen from first option [install-java, install-some-other] -> install-java

now i need to choose the version[8,9,10]
but if i have chosen "install-some-other", i need to choose type[good, bad, ugly]

say i have script that depending on first option generates

[2018-06-19 21:49] bugy commented on #119
Hi @yosefy, please see bash script - https://gist.github.com/bugy/f61b493cfde75804889187bbbdc1a71c

Sample output:
[code]

[2018-06-19 21:51] bugy commented on #119
It won't be possible to feed it back to UI, back the script would be able to continue with both options (one recieved from the UI and another chosen by the script itself)

[2018-06-20 01:11] yosefy commented on #119
thank you very much for your time.
it is working workaround!

i didn't know that it is possible to input data back to script

thanks again

On Wed, Jun 20, 2018 at 12:51 AM Iaroslav Shepilov <notifications@github.com>
wrote:

[2018-06-20 07:19] olinox14 commented on #117
Why not markdown?

[2018-06-20 07:22] olinox14 opened #120 "Add a requirements file"
Hi! Would'nt it be more readable with a requirement.txt file?

[2018-06-20 07:27] muzzol commented on #117
yes, it would be OK.
In my user case is enough with something that is interpreted as a link, I really don't mind the inclusion of HTML.

[2018-06-20 07:34] bugy commented on #120
Hi @olinox14, thank you for the suggestion. I think you are right, adding requirements.txt would be useful.
But to be honest I don't understand what do you mean with "more readable".

And script-server has only 1.5 mandatory dependencies (tornado and typing (which is default for python >= 3.5).
All other dependencies (email, auth, etc.) are optional, depending on your settings.

[2018-06-20 09:54] olinox14 commented on #120
Thank you btw, that's a great project: simple and efficient just as I like!

[2018-06-20 10:21] bugy commented on #120
Hi @olinox14, I'm glad you liked it :)

[2018-06-23 08:59] bugy commented on #112
Done. The fixes and improvements are now in master:
- added support for \r (carriage return), now text following \r will replace begginning of the line
- fixed logging, now logs will preserve \r characters
- in PTY mode (default on linux), all new lines were replaced to \r\n. I disabled this, so \r and\or \n are outputted as they are

@ivitlin unfortunately I couldn't find the reason for performan

[2018-06-24 12:27] bugy commented on #117
I agree with olinox, markdown would be a bit safer and in some cases easier to write (not for links, though).
So I'll go this way

[2018-06-24 12:45] ivitlin commented on #112
Specifically, sequence 25H→25L→0G makes rectangular cursor to blink once on column 0 indeed. But npm draws entire line using similar (but mach longer) sequences, so disabling cursor blinking alone won't help. But it's really not that critical.
I'm closing the issue, many thanks

[2018-06-24 12:45] #112 closed

[2018-06-24 13:01] olinox14 commented on #117
Not for links? What's wrong with the [link](text) notation?

[2018-06-24 13:07] bugy commented on #117
I meant that HTML syntax for links is not much harder to read/use as markdown (in my opinion).
But for this feature, I'll add only markdown support (for links also)

[2018-06-24 19:01] olinox14 commented on #117
ok I get it, thanks

[2018-06-24 19:21] bugy commented on #117
Done. Now markdown is supported in script description section. Markdown flavous is [GitHub](https://guides.github.com/features/mastering-markdown/)
Any HTML code in the description will be escaped

[2018-06-25 07:01] bugy commented on #119
I'd like to keep the issue open, since I'm going to implement this feature in future

[2018-06-25 08:37] yosefy commented on #119
sorry i guess i have closed by mistake.
how it works in rundeck:

http://rundeck.org/2.0.0/manual/job-options.html#cascading-remote-options

the problem there is that you can't change the option name depending on another option value

here is my pain :)  :
first option:
->choose an ansible playbook from ls  on playbooks directory.
2)then depending on the playbook, choose config file(i guess it can

[2018-06-25 08:59] bugy commented on #119
Hi @yosefy, thanks for the description and rundeck references. It seems, that rundeck cascades only remote options, so some additional server will be required.
I'm thinking about providing a possibility to calculate depending options via some script. For example, at the moment it's possible to specify values with a script:
[code]

I could extend it with a possibility to reference another parameter

[2018-06-25 09:34] yosefy commented on #119
amm may be to use some include directive?
like:
[code]

and that include will "add" parameters we need for that playbook| script (if we need it),
so the playbook_config.json file will be just like:

[code]
another thing
if a parameter has ${something} in its valaue, it will wait for parameter it depends on

for a second :)
i like the technologies you have chosen much better and clear

thanks

[2018-06-25 09:44] bugy commented on #119
Hi @yosefy, thanks for clarification. So, as far as I understand, each playbook configuration has completely own parameters (their count and names), is it correct? And you would like to create a separate json file for each of the playbooks manually?

[2018-06-25 09:52] yosefy commented on #119
yep and most of them will not have one.
just those who need it (with versions and such and more complicated like creating a virutal instance for example
where you need to add cpus number, memory amount number of disks and their size)

thanks

[2018-06-25 10:13] bugy commented on #119
Cool, thanks! I guess now I got it: dynamically include parameters section, based on another parameter value. So parameter fileds will be added and removed from the GUI, based on user choice.

Before that I thought, that you were talking about 2 dependent list parameters. So both parameters are shown to the user always, but one of them is filled only based on a selected value in another list.

[2018-06-25 11:13] yosefy commented on #119
amm i think i mean both :)

[2018-06-25 11:21] yosefy commented on #119
may be parameters file could be better?
so parameter files can be saved together with specific script and referenced by same name as script like you mentioned.

may be could be some tag saying show always or show only when "parrent" chosen

[2018-06-25 11:41] bugy commented on #119
@yosefy, with include of parameter section I meant your proposal about files

To be honest I don't like "flickering" GUI, so I would prefer to show parameters always (if they are known).
For "included" parameters they will be shown and hidden dynamically, but just because I don't see any alternatives.

This is my current understanding of the feature:
1. Add possibility to _include_ json files with

[2018-06-25 11:51] yosefy commented on #119
Yes exactly. Thanks

On Mon, Jun 25, 2018, 2:41 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2018-06-26 09:59] quimm2003 opened #121 "Multiple selection list"
Hi there!

Thanks for your awesome work!

I guess it would be useful a list type to create a select multiple element, which passes a list with the selections to the script's parameter.

For example, I use a script to issue a "git status --porcelain" to get a list of modified and untracked files. I want some of this files to be processed by the script.

Thanks.

[2018-06-26 10:04] bugy commented on #121
Hi @quimm2003, thanks for the new proposal. Sounds reasonable.
How would you expect these multiple values to be passed to your script? As comma-separated values or as positional arguments?
e.g.
my_script.sh --files file1.txt,file2.txt
OR
my_script.sh --files file1.txt file2.txt

Or may be in a completely different way?

[2018-06-26 10:11] quimm2003 commented on #121
Hi @bugy,

my script expects the file paths to be passed as positional arguments. e.g.: my_script [options] file1 file2. Nevertheless, it will be easy to adapt my script to any of your proposals.

[2018-06-26 10:46] quimm2003 commented on #121
Thank you very much @bugy! No, it is not bad... I can still launch the script at command line... ;-)

[2018-06-26 11:11] muzzol commented on #117
thanks a lot, @bugy
you're doing a great job

[2018-06-26 11:18] bugy commented on #117
@muzzol, you are welcome!
Unfortunately I have to recommend for you not to use the version from master, until https://github.com/bugy/script-server/issues/114 is solved (as far as I know, you are using proxy)

[2018-06-26 11:20] muzzol commented on #117
no problem, I'll wait.

[2018-06-30 16:43] bugy commented on #114
Fixed. Now if a user connects via Proxy, then its real IP is resolved (using X-Real-IP or X-Forwarded-For headers, which should be filled by a proxy).

However, due to security reasons, relying on user IP is constainted now: each IP is considered to be untrusted, so each user gets a personal token, when connecting for the first time (token looks like: IP-16symbols). This token expires after 14 day

[2018-07-14 18:16] bugy opened #122 "If opening a script page fails with error, then log panel height is broken"
If opening a script (selecting from the selection panel on the left side) fails with an error, then log panel in other scripts are not expanded to the full height anymore and adjust to the log content

Steps to reproduce:
1. Load script-server page with at least 2 scripts
2. Rename any script in the config file
3. Try to select the script in the UI (an error should be shown)
4. Select another scri

[2018-07-14 20:05] bugy commented on #118
Added ACL support (without LDAP groups yet):
- you can define "allowed_users" in a script configuration. It should be a list of users or groups. Groups should be prefixed by @ sign, e.g.:
`"allowed_users": ["127.0.0.1", "@developers", "buggygm@gmail.com"]`
- groups can be defined in a server configuration file (conf.json), under access -> groups (see example below)
- there is a default group @admi

[2018-07-15 18:37] bugy commented on #118
Added support for ldap groups. On user login, his/her groups will be fetched and stored locally (temp/ldap_groups.json) file.

For resolving user groups, base dn should/can be specified:
- conf.json file: auth -> groups_base_dn, example:
`"groups_base_dn": "dc=global"`
- if the configuration is missing, it will be resolved from username_pattern:
-- if the pattern is ...,dc=name1,dc=name2, then bas

[2018-07-17 09:43] muzzol commented on #122
I've just tried a new installation, did a

`git clone https://github.com/bugy/script-server.git`

and a

`tools/init.py --dev`

and I get this error:

[code]

can be related to this bug?
are you reworking log system?

[2018-07-17 09:52] bugy commented on #122
Hi @muzzol, thanks for reporting it. Fixed!
(it was a regression issue, when I added better user identification)

[2018-07-17 09:54] muzzol commented on #122
wow! that was fast!
:)

[2018-07-17 10:32] muzzol commented on #122
Now I get this error and execution animation (rotating circle) is shown indefinitely:

[code]

do you want me to open a new issue on this or do you think is related to changes from this bug?

[2018-07-17 10:43] bugy commented on #122
Actually I would prefer a separate bug. This particular task is for extremely minor visualization issue

Regarding your issue - could you tell me please, which tornado (full) version are you using? For me 4.5.1 and 5.0.1 works fine

[2018-07-17 10:46] muzzol commented on #122
[code]

[2018-07-17 11:01] bugy commented on #122
Thanks,  I'll have a look in one hour
But anyway this problem shouldn't be critical

[2018-07-17 11:02] muzzol commented on #122
ok, I've tested on a Debian Buster with tornado version 5 and it works, so it's definitely related to old version.

I didn't realize that on Stretch tornado was that old.

you don't need to waste time on this.

[2018-07-17 12:18] bugy commented on #122
Hi @muzzol, thanks for letting me know!
I'll have a look anyway, but later then

[2018-07-17 12:20] bugy opened #123 "Script stop fails with an exception in old Tornado (4.4)"
When stopping the script (or script finishes) in old tornado, there is an error on server side.
Tornado version: 4.4.3

Error stacktrace:

[2018-07-18 07:43] quimm2003 commented on #121
Works like a charm! Thank you very much @bugy!

[2018-07-18 07:44] #121 closed

[2018-07-19 12:54] muzzol commented on #118
can I suggest some log information about groups? for example something like:

[code]

this makes a lot easier to debug membership problems.

[2018-07-19 12:59] bugy commented on #118
Good idea, I'll add it.
For now you can check temp/ldap-groups.json file

[2018-07-19 13:03] muzzol commented on #118
yeah, I know that.

great work by the way. I'm currently testing it and I love it.

 :)

[2018-07-19 13:05] bugy commented on #118
Hi, I'm glad you likes it :)
Hopefully the configuration is not very confusing

[2018-07-21 09:43] #123 closed

[2018-07-21 09:45] #111 closed

[2018-07-21 09:47] #117 closed

[2018-07-21 09:47] #120 closed

[2018-07-21 09:48] bugy commented on #103
Hi @csphoenix1, did you have a chance to try it? Is there anything else I could change/improve regarding log naming?

[2018-07-21 09:49] #100 closed

[2018-07-21 09:49] #114 closed

[2018-07-21 09:55] bugy opened #124 "Opening finished execution causes error in browser console"
When you try to open a finished execution, then there is an error in browser:

Steps to reproduce:
1. Start a long running script
2. While it's running, select another script or close the page
3. Wait until the script from step 1 is finished
4. Select the script again
Actual result: there is the error in the console

[2018-07-22 13:44] #124 closed

[2018-07-22 14:00] #122 closed

[2018-07-22 14:10] #115 closed

[2018-07-25 16:14] cinguva opened #125 "How to mention path of Python File running on Windows OS - Syntax"
{
 "name":"Get Resolution ID",
 "script_path":"python C:\Users\cinguva\Documents\DevServer\Scripts\jira-resolution-id.py",
 "description":"Get Resolution IDs using REST API",
 "requires_terminal": true,

}
gives me following error

  File "src\server.py", line 51, in add_name
    return script_configs.read_name(path, content)
  File "src\model\script_configs.py", line 127, in read_name
    json_ob

[2018-07-25 16:42] bugy commented on #125
Hi @cinguva, could you try to escape backslashes, i.e. to use `\\`. In your case:
`"script_path":"python C:\\Users\\cinguva\\Documents\\DevServer\\Scripts\\jira-resolution-id.py",`

Unfortunately I can't try myself at the moment on Windows

[2018-07-28 20:04] bugy commented on #118
While testing the feature on our AD setup, I've found out, that the solution didn't work in such setup, because user cn didn't match userPrincipalName.
So I've improved the implementation and now user dn and uid are resolved before loading corresponding groups. This dn/uid resolve is `username_pattern` dependant and currently supports the following patterns:
1. ...$username...,dc=abc,dc=def: in th

[2018-07-30 07:03] bugy commented on #125
Hi @cinguva, did it work for you?

[2018-08-05 07:02] #118 closed

[2018-08-05 07:03] #125 closed

[2018-08-05 07:26] muzzol commented on #118
hey, sorry about answering late.

Real Life is keeping me busy.
I'll try to test this against regular LDAP and AD as soon as I can, probable next week.

happy holydays!

https://i.imgur.com/jJ5l7iN.jpg

I'm the one on the right, btw :D

[2018-08-05 07:28] bugy commented on #118
Hi @muzzol, no worries, there is no urge here, I believe everything should work :)

Have a good holidays!

[2018-08-05 10:27] bugy commented on #113
Added to wiki: https://github.com/bugy/script-server/wiki/Reverse-Proxy-setup#apache

[2018-08-05 10:27] #113 closed

[2018-08-05 10:39] bugy commented on #116
Published to wiki: https://github.com/bugy/script-server/wiki/Running-as-a-linux-service
Thank you @tristanlepachyderme  and @muzzol!

[2018-08-05 10:39] #116 closed

[2018-08-09 06:35] bugy opened #126 "Add possibility for a user to download scripts"
It should be possible to allow users to download scripts. This should be configurable per-script and disabled by default.
This feature could be useful, when users have the possibility and want to execute/reuse the same scripts locally.

[2018-08-11 10:41] bugy opened #127 "Scripts configuration via admin page"
There should be a possibility to change/add script configurations on admin page

[2018-08-11 10:42] bugy opened #128 "Add admin page link to the index page"
There should be a link on main (index.html) page to the admin page

[2018-08-11 11:05] bugy opened #129 "Add mapping possibility for list parameters"
When a user selects a value for the list parameter, this value is passed to the script as an argument.
However, sometimes required value could be too complicated (IP or MAC address, for example), then it would be possible to have some kind of mapping: user-friendly name is shown on the UI, but corresponding "technical" value is passed to the script.
Example:
[code]
In this case user will select fr

[2018-08-11 11:10] bugy commented on #102
Hi @csphoenix1, I'm still thinking about this feature... On one hand I like the idea, but on the other hand I cannot find an easy way to implement and integrate it in the current UI. And I'm not sure, if this feature will be used often.

I'm thinking, that it could be some kind of presets (with the possibility to specify preset name in the URL).
Also I created issue #129 for having a list with map

[2018-08-16 12:36] muzzol opened #130 "add variable of current operator"
we use an OPERATOR and SERVER variable on our scripts to keep track of who is executing what.

for example

    /opt/scripts/test1.sh $OPERATOR -p test -t test

so it would be great to have a variable with current logged user in a variable.

I think we can user double dollar to get current machine, so that part is covered.

ask for further info if you need more details

[2018-08-16 14:30] bugy commented on #130
Hi @muzzol, sounds reasonable. Do I understand correctly, that it should be a constant parameter and it should be filled with current user name?
Example:
[code]

[2018-08-17 17:29] csphoenix1 commented on #103
I @bugy, I can't test it for this moment because I'm in holidays but it's seems to be really good :)
I'll try to test it soon.
Thank's for this feature!
Best regards,

[2018-08-17 17:43] csphoenix1 commented on #102
Hi @bugy,

I see the #129, and I understand your problem about the implementation.. Effectively, your solution with "specify preset name in the URL" seems to be a good alternative, and certainly more easy to implement.
But unfortunaly, this alternative can't do the job for all cases because we can't put we are limited to the values specified in the config file. So we have to think about all possib

[2018-08-18 07:06] bugy commented on #102
Hi @csphoenix1, thanks for proposal and the ideas! My 2 major concerns are:
1. I'd like to keep URL tidy, so it could be shared easier. So there should be a way to get "shared link with parameters" on UI and when somebody opens the URL these values should be read and URL should be cleaned. In this case I don't think there is a need to have a base64 encoding
2. I'm not sure if an autocomplete from

[2018-09-07 06:27] gsmolensky commented on #118
Hi guys i would like to ask you about , LDAP i am trying to set up but still have some mistakes , my conf.json looks :

  "auth": {
    "type": "ldap",
    "url": "ldaps://1.2.3.4:636",
    "username_pattern": "$username@adam.sk",
    "version": 3,
    "base_dn": "dc=test,dc=ldap"
  },
  "access": {
        "allowed_users": ["*"],
        "admin_users": [ "adam1@adam.sk" ],
        "groups": {

[2018-09-07 06:50] bugy commented on #118
From a quick look, the config looks fine. It seems that the problem with ldap3 package itself.

Could it be the similar problem? https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=905757
Could you also check please, if pyasn1 package is installed? E.g.:
[code]

[2018-09-07 08:01] muzzol commented on #118
maybe you could try with a simple configuration first.

I'm using something as simple as this

[code]

and I can login with any LDAP user.

[2018-09-07 09:17] bugy opened #131 "Add automatic links highlighting in script output"
If there is a URL link in a script output, it would be useful to highlight it automatically

[2018-09-07 10:53] gsmolensky commented on #118
Hi thanks for your help, i installed this package and then it works
https://pypi.org/project/ldap3/

[2018-09-21 15:33] Rici11 opened #132 "Example for AD Group usage for Authorization"
Hello,

Would it be possible to get an example of how to set up authorization based on membership to an LDAP (AD) Group?

I've been trying to set this up with little success.

Thanks in advance

[2018-09-22 16:03] bugy commented on #132
Hi @Rici11.
Did you configure any `base_dn`? Could you share your `username_pattern`?

Basically what you need to do is to set 'base_dn' according to your AD groups. It should be something like `"base_dn": "dc=global,dc=groups"`

[2018-09-25 04:06] eltigre62 commented on #102
Nice feature !

[2018-09-26 20:35] bugy commented on #119
Finally I've finished "2. Add possibility to refer to parameter in "script" tag of other list parameters"

The part with "include" is still pending. I'll move it to a separate issue and come back to it after closing some other smaller tasks

[2018-09-26 20:42] bugy opened #133 "Add possibility to dynamically include script parameter section"
There should be a possibility to add an "include" section to a script configuration, which would add/fill parameters configuration from another file.
This "include" section can depend on current parameter values, so it will be loaded dynamically while user selects values on UI

There are 2 use cases behind:
1. Sharing parameters in different configurations
2. Depending on some parameter, we could

[2018-09-27 09:05] Rici11 commented on #132
Hello Bugy,

Yes, I've already configured a base_dn:

"base_dn": "OU=RootOU,DC=contoso,DC=com"

This RootOU, has various sub-OUs and in those we have groups that I'd like to use for Authorization.

My Access section is then configured as follows, but when I assign these to groups it doesn't seem to work.

  "access": {
        "allowed_users": [ "*" ],
        "admin_users": [ "adminGroup@contoso.

[2018-09-27 09:40] Rici11 commented on #132
Thanks @bugy , I've tried with this syntax. But at least when I used it to control admin.html access I always get a 403 forbidden:

"admin_users": [ "adminGroup"],

Can I use groups this way?

[2018-09-27 10:18] yosefy commented on #119
nice thanks  a lot

On Wed, Sep 26, 2018 at 11:35 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2018-09-27 10:37] bugy commented on #132
Not this way. Please specify admin_users explicitly and then you even don't
need a separate adminGroup - just refer to @admin_users when you need

Riccardo Toni <notifications@github.com> schrieb am Do., 27. Sep. 2018,
11:40:

[2018-09-27 12:40] bugy commented on #132
Hi @Rici11,

You want to get groups from LDAP only, is it correct? Then there is no need to fill `access` -> `groups` field. You can directly refer to your LDAP groups in script configurations or `allowed_users`.
For example, if your LDAP group is called BuildersGroup, you can use it like this: `"allowed_users": ["@BuildersGroup"],`

Did you check, if you groups are resolved properly on login? (th

[2018-09-27 13:16] Rici11 commented on #132
Hi @bugy , Your latest example worked, if I refer to the LDAP groups directly with the @ notation it will work.

Thank you, this has put me on the right track.

Thanks for supporting and developing this great project. :)

[2018-09-28 20:50] bugy commented on #130
Added possibility to use current user in a parameter's `default` field. This can be used for prefilling a value on UI _or_  as a constant parameter.
There are 2 options:
- username - name of the authenticated user (if auth is not enabled, it will be empty)
- audit_name - when auth is enabled, it's the same as username. Otherwise it's hostname, IP or basic auth credentials.

In order to specify tho

[2018-09-30 08:32] bugy commented on #102
Done. The syntax is url ? parameters # script, e.g.:
http://my-super-script-server/index.html?hostname=1.2.3.4#My-super-script

This will replace ALL the parameters of a script with the values from the URL. If any parameter in the URL is missing, then it will be empty. (default script parameters are ignored)

Also, after replacing the parameters, page URL is cleaned (parameters are removed). This

[2018-09-30 08:42] eltigre62 commented on #102
😀👌

Le dim. 30 sept. 2018 à 10:32, Iaroslav Shepilov <notifications@github.com>
a écrit :

[2018-10-01 19:30] bugy opened #134 "Add extended support for ANSI escape codes"
The following codes should be added:
- clear screen
- Cursor Position
- cursor up/down/left/right
- erase line
- show/hide cursor (just ignore the sequences)

[2018-10-01 20:40] bugy commented on #131
Done

[2018-10-24 17:57] xxlaefxx opened #136 ""IP address" parameter type"
Hi guys,

the app is really wonderful! ..And I have 1,5 questions:
1/ Did someone faced with the necessity to verify if entered parameter is valid IPv4/IPv6 address? :)
I'm checking it by the separate py script, but I think it's worthy to be a parameter type...
1.5/ What is the best way to exclude the possibility of using "&&" operator? for example: "some_thing && kill -9 $(pgrep -f python)"

Than

[2018-10-24 19:56] bugy commented on #136
Hi @xxlaefxx,

IP address type makes sense. I'll add it

Regarding && operator (and any other bash operators): script server protects from it, a bit more details here: [Shell commands injection](https://github.com/bugy/script-server#shell-commands-injection). It will always be passed as a positional argument to your script and not executed on its own (even if you put it in `script_path`)

[2018-10-24 22:11] xxlaefxx commented on #136
1/ Thank you in advance for IP addresses and this quick response! :)

1.5/ Yes, I read it and added double quotes (everywhere), but I got something like that in the beginning:

[code]

conf/runner/SimpleScript.json
[code]

[2018-10-25 08:54] bugy commented on #136
Hi @xxlaefxx,

I don't know how you parse and use incoming arguments, I tried to reproduce it locally and I couldn't. The test script I was using (it's without -ip, just a positional argument):

[code]

All pings and parameters initializations worked fine, without processing &&.
Only the last ping failed, but it tried to ping the part after && for some reasons

[2018-10-26 13:36] xxlaefxx commented on #136
Ok, the reason was CentOS 6 and "latest" python34 installed.
It works perfect with the latest python on all another servers :)

Spasibo!

[2018-10-26 13:39] bugy commented on #136
Hi @xxlaefxx , thank you for getting back.
Could you still share the code (obfuscated if needed), how you work with parameters inside your script? Script server shouldn't allow such injections even on older distributions. If it does, then it's a critical issue.

[2018-10-26 17:19] xxlaefxx commented on #136
Hi, @bugy
Sorry, but I've already upgraded my test env and modified all my test scripts... I'll try to restore and reproduce it later and let you know.
Previously it was something like:
[code]

[2018-10-26 17:41] bugy commented on #136
Hi @xxlaefxx, thank you!

[2018-10-27 00:42] yosefy commented on #133
thanks a lot!

On Sat, Oct 27, 2018 at 12:27 AM Iaroslav Shepilov <notifications@github.com>
wrote:

[2018-11-02 00:35] fabianomenegidio opened #137 "Server folder or file as input parameter for my script"
How can I select a folder or file as input parameter for my script?

[2018-11-02 01:26] yosefy opened #138 "HTTP API for running scripts"
do you plan to add api for running script via http request?

[2018-11-02 07:39] bugy commented on #137
Hi @fabianomenegidio, for file parameter you can you [file_upload type](https://github.com/bugy/script-server/wiki/Script-config#--type). There are details on how it works: [details](https://github.com/bugy/script-server/wiki/Script-config#file_upload)

Uploading the folder is not supported. And it would be complicated to implement, because it's not really supported by html standards and would wor

[2018-11-02 07:49] bugy commented on #138
Hi @yosefy, actually I was thinking about it, but I'm not sure about use cases.

And actually all the client-server communication is based on AJAX, so HTTP API is there (but undocumented).
The only complication is websockets, which are used for script input/output and for script parameters information (now it's dynamic).

So, at the moment you can start/stop a script via HTTP request. However you

[2018-11-03 01:11] fabianomenegidio commented on #137
Choose a file or folder on the server (in a container where Script-Server would be installed).

Tnx

[2018-11-03 08:40] bugy commented on #137
Hi @fabianomenegidio, unfortunately it's not supported at the moment.

If you have limited amount of files, you can emulate this behaviour with a list parameter, specifying `ls`/`find` as a command.
E.g.
[code]

[2018-11-11 21:09] bugy commented on #137
Hi @fabianomenegidio, I'd keep the issue open until I add the feature

[2018-11-26 12:21] csphoenix1 opened #139 "Allow bash operators (|, &&, ||) in script section of for "values" fields"
Hi,

I discover a little problem :)

If we put a "pipe" in the script command, it does not work.

Eg.:
`      "values": {
        "script": "ps aux | grep foo"
      }
`

I don't have logs or anything else, but I think it can be easily reproductible.

Regards,

[2018-11-26 12:25] csphoenix1 opened #140 "Output files : issue if there is a space in the filename"
Hi !

I discover another problem.

In a script conf., If we put an output files with a space in the filename, the file is offered for download, but the name in truncated juste before the space (ie. : the filename is not the full filename).

`  "output_files": [
    "~/$$$filename - With IP and Mac address.txt"
  ]`

Regards,

[2018-11-26 12:34] csphoenix1 opened #141 "Add possibility to specify a result of a command as value (the same thing than for list values)"
Hi !

Is it possible to add the possibility to specify a result of a command as the value of a parameter ?

Like that but not only for a list values.

`{
      "name": "Reload the current profile",
      "value": {
        "script": "cat /tmp/current_profile.txt"
      }
}`

[2018-11-26 12:41] bugy commented on #139
Hi @csphoenix1, thanks for reporting.
It's kind of known/expected issue for protection from script injection, but I guess the protection is not needed in such case. However in case of template variables (e.g. `ps ${var1} | grep foo`) this should be considered.

[2018-11-26 12:43] bugy commented on #141
Hi @csphoenix1, do you mean for constants and default values?

[2018-11-27 18:41] csphoenix1 commented on #141
Hi @bugy

Yes for constant and default value, exactly.

[2018-11-27 18:45] csphoenix1 commented on #139
Hi @bugy ,

Oh I understand what you mean. In this case, maybe we can add a feature to disable the script injection protection for a specific script ?

[2018-11-27 18:47] bugy commented on #139
Hi @csphoenix1, I'll have a look what can be done. As a workaround you can put this command in a separate script and execute it instead :)

[2018-12-05 18:53] csphoenix1 commented on #139
Hi @bugy, yes I it's exactly what I do :)

Happy Christmas :)

[2018-12-06 18:59] csphoenix1 opened #142 "Put the script title in the page title"
Hi !

Does it is possible to add the script title in the Web page title ?

Example:
Instead of "Super Script Server"
We could have "Generate list of my movies - Super Script Server".

Like that, it's more easy to find the right tab if we open a lot of tabs in the browser :)

[2018-12-06 19:03] csphoenix1 opened #143 "Browser slowed down when lot of residual text in the console"
Hi !

When I launch a script wich generate a lot of text (in verbose mode for example), the browser is slowed down.

I saw this issue closed (#10).
So maybe in more we can add a button to flush the current console?

[2018-12-06 19:06] csphoenix1 opened #144 "Add a preffix in the title webpage when a script is running"
Hi !

When a script is running, maybe we can add a preffix in the webpage:

Instead of: "Script Server"
We can have: "[RUN] Script Server"

In order to know if there is a least one script which is running?

[2018-12-06 19:10] bugy commented on #143
Hi @csphoenix1, how much lines of output (or bytes) do you have? I checked ~10-50 thousands lines on my PC, and browser performance was ok. Though the server itself was a bit slow.

I have plans to refactor browser console to reduce currently shown text and load it dynamically on scrolling. But it's not coming this year :(

[2018-12-06 19:13] bugy commented on #142
Hi @csphoenix1, nice idea. I'll add it as a suffix by default, but make configurable to make as a prefix

[2018-12-06 19:15] bugy commented on #144
Hi @csphoenix1, good idea. But I would suggest to change favicon instead (shown some green indicator on it, for example). What do you think?

[2018-12-06 19:15] csphoenix1 opened #145 "Multi-instance for the same script"
Hi !

Before this feature #94, if we wanted to launch a multiple instance of this current script which is running, we have just to open a new tab.
Now, we can't because we going back to the running instance.

Going back to the running instance is really really cool ! But maybe we can add an improvement to allow the run of multiple instances of a same script?
I think it is not easy, but that could

[2018-12-06 19:16] bugy commented on #145
Ye, this is definitely needed, I was waiting for this ticket (if anybody would need such functionality).
The hardest part of this issue is to make it in a user-friendly way. I'll think about it

[2018-12-06 19:16] csphoenix1 commented on #144
Yes your idea (favicon) is better :) OK for that :)

[2018-12-06 19:18] csphoenix1 commented on #143
Euh I don't known, but maybe one of my computer is slow.
Maybe I have thousands line too, like you.
But if you already plan to "refactor browser console to reduce currently shown text and load it dynamically on scrolling", it will certainly solve this problem :)

[2018-12-06 19:19] csphoenix1 commented on #142
Ok, thank you sir :)

[2018-12-10 18:59] csphoenix1 opened #146 "Force kill script is the first click on stop doesn't stop the script"
Hi !

Is it possible to add the possibility to force kill a script if the first try of stopping the script doesn't work?

Actualy, I think it's a SIGINT or SIGTERM which is sent.
Maybe, on the second time the user click on STOP, we can send a SIGKILL ?

Use case: recently, I develop a python script which prompt a message box is there is a problem.
The problem is through Script-Server, the message

[2018-12-10 19:17] bugy commented on #146
Hi @csphoenix1, nice and simple idea and it should be pretty easy to implement (I even have API for it and it's even called when you log out).
But I would rather make it with a timer (let say 5 sec) to give a script a chance to stop gracefully :) I.e. you press stop, then a button disables for 5 sec and after 5 sec you can kill it.

[2018-12-13 19:15] bugy commented on #145
Hi @csphoenix1, good idea, I had similar idea also :) But  I'm thinking about putting the "tabs" to the right of script name, to save some vertical space

[2018-12-13 19:21] csphoenix1 opened #147 "Runner configuration : list files in directory"
Hi !

On linux, to add a dynamic variable which list the file in a directory, we can do something like that:

     {
      "name": "Command-based list",
      "param": "--var_file",
      "description": "List parameter 2",
      "type": "list",
      "values": {
        "script": "ls /var"
      }
    },

But on Windows, what we can use?

Maybe we can create a specific type of variable and also a

[2018-12-14 08:32] bugy commented on #147
Hi @csphoenix1, isn't `dir` command work on windows?
But you are right, I think making explicit parameter type for it would make sense. There is another similar issue for it: https://github.com/bugy/script-server/issues/137

I think it would make sense to merge them

[2018-12-14 08:33] bugy commented on #137
There is another similar ticket: #147, which I can be addressed together.
In my opinion there could be 2 different options: recursive and not. For recursive option there would be some kind of file selection dialog.
For non-recursive it would be shown as a list.

[2018-12-14 20:06] csphoenix1 commented on #145
Hi @bugy, cool :)
About the position, I'm afraid there is a probleme if the script name is long (on my server, I have some script which are a little long ^^).
A tab row is not very very high, maybe 20px? I'm not very good in design but I believe in you, if you think it's better, I'm okey with you :)

[2018-12-17 16:52] csphoenix1 commented on #147
Hi @bugy ,

Yes `dir` exist, but unfortunaly, it's like `ls -l`: there is some information which are not needed like for example the date.

[2018-12-18 13:40] mattafixxd opened #148 "Internal Server Error"
root@avior-3:/srv/lwp# python lwp.py --debug
 * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)
192.168.20.99 - - [18/Dec/2018 16:26:25] "GET / HTTP/1.1" 200 -
192.168.20.99 - - [18/Dec/2018 16:26:32] "POST /login HTTP/1.1" 302 -
[2018-12-18 16:26:32,709] ERROR in app: Exception on / [GET]
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line

[2018-12-18 13:41] #148 closed

[2018-12-18 15:44] shinebayar-g opened #149 "How to install python packages doc."
Hello, first of all thanks for great project! This was something very helpful for me!
However I've totally messed up my python installation.
I guess I should've install required packages with
`pip3 install -r requirements.txt` but it returns:
[code]
After reinstalling something here and there, I can successfully run the launcher with `python3 launcher.py` command. However when I put into systemd s

[2018-12-18 16:06] bugy commented on #149
Hi, could you try to run
pip3 install tornado
?

[2018-12-18 16:09] shinebayar-g commented on #149
Yes, it's already installed. But as far as i know if i try to install it second time it returns something like requirements already set .. etc yea? but it doesn't. Everytime I run this command it installs over and over again.

[2018-12-18 16:20] bugy commented on #149
Hi, it doesn't look good... Python installation looks broken
Which distro are you using?
On debian/ubuntu you can also try
sudo apt install python3-tornado

Otherwise I would recommend to reinstall python or use pyenv

[2018-12-18 16:24] shinebayar-g commented on #149
It's ubuntu 16.04 LTS with latest updates, yea it's broken asf.
I'm trying to install it on virtual env. This is what I did so far
1. Installed pip3 using `sudo apt-get install python3-pip` command.
2. Installed virtualenv with pip3 using `pip3 install virtualenv`.
3. However when I type `virtualenv .env` it says virtualenv command not found...

[2018-12-18 16:34] bugy commented on #149
Well, pip3 cannot install tornado, i wouldnt trust it now :)

I can send you pyenv setupp instructions once i get to PC in a couple of hours

[2018-12-18 16:35] shinebayar-g commented on #149
Well thanks, in the meantime I'm making some progress. I'll keep you updated.

[2018-12-18 16:59] shinebayar-g commented on #149
Yes! I got it working. Here is steps:

1. Install python virtualenv using
`sudo apt-get install python-virtualenv`
2. Create virtualenv for python3 using
`virtualenv -p python3 env`
3. Enter to virtual env
`source env/bin/activate`
4. Check python version using
`python -V`
5. Download latest release
`wget https://github.com/bugy/script-server/releases/download/1.12.0/script-server.zip`
6. Extract

[2018-12-18 16:59] #149 closed

[2018-12-19 07:55] bugy commented on #149
Done, created a wiki page for the guide + added a link to it in the read.me
Thank you @shinebayar-g !

[2018-12-19 10:08] shinebayar-g opened #150 "There is no way to go back to home page."
Hi, as title says there is no way to go back to home page. Reason why we need is:
If I execute one script it stays as check marked and doesn't refresh. So there is a way to refresh to get rid out of this check mark. And there is no button to click to refresh or go back to home page. So I'd like to add href link on **Script server** word. PRs are welcome?

![image](https://user-images.githubusercon

[2018-12-19 10:15] bugy commented on #150
Hi @shinebayar-g, just for better understanding: why do you want to get rid of this mark? You can execute the same script again without any problems. It is just showing that the script is finished until "any" further action (see below)

Two ways to get rid of it:
1. Refresh the page
2. Navigate to another script (which you don't have according to the screenshot)

But PRs are always welcome :) You

[2018-12-19 10:17] shinebayar-g commented on #150
Ye, I thought If I add more scripts check mark would disappear if I select between scripts. Noted.

[2018-12-19 10:18] bugy commented on #150
:) But why don't you like this check mark?

[2018-12-19 10:19] shinebayar-g commented on #150
I don't know it just feels off, I'd provide more feedback after I get used to in few days.

[2018-12-19 10:20] bugy commented on #150
I see. But navigation to a home screen itself is not needed for you, right?

[2018-12-19 10:33] bugy commented on #150
I think the link to a homepage is ok for almost any website :)

The problem for me, is that I would like to fix the root cause why anybody would want to go to the homepage. I'm completely fine for this link to exist, but I would like that people wouldn't need to use it

Regarding your usecase, I think that some kind of "Reset" button would be helpful. It could clean the check mark and all paramete

[2018-12-19 12:03] shinebayar-g commented on #150
Umm, that could be useful too! Reload or refresh button that doesn't perform full page reload, but reloads certain element would be cool.

[2018-12-25 15:14] shinebayar-g commented on #89
Is this still working? I don't see any mention of it on https://github.com/bugy/script-server/wiki/Authentication

[2018-12-25 15:16] bugy commented on #89
It's in master branch (no-released yet). I'll add documentation after release (coming in Jan-Feb)

[2018-12-25 15:18] bugy commented on #89
Hi, should work, please check: https://github.com/bugy/script-server/wiki/Server-configuration#logging

[2018-12-27 22:39] bugy opened #152 "OSX: non_blocking script output reading behaves incorrectly"
There was an issue #151, that on OSX reading script output went into endless loop. It was fixed by additional (but theoretically redundant) check.

It should be investigated, why reading wasn't failing with an error for non_blocking reads on empty output

[2018-12-28 11:37] bugy commented on #147
Closing the ticket. It will be considered in #137 implementation

[2018-12-28 11:37] #147 closed

[2018-12-28 17:43] bugy commented on #136
Added new parameter types:
- ip - IPv4 or IPv6
- ip4 - IPv4
- ip6 - IPv6

Validation is done on server and client side.

The dev build is available at https://github.com/bugy/script-server/releases/download/dev/script-server.zip

[2018-12-30 16:14] bugy commented on #137
@csphoenix1 I added 'server_file' parameter type. It can be used for non-recursive file selection. For the user only filenames will be shown. In the script full path (i.e. `file_dir`/filename) will be passed

Also added new parameter configuration fields:
`file_dir` - (required) where to look for files
`file_type` - file type filter ('dir' or 'file')
`file_extensions` - list of file extensions (im

[2019-01-02 13:51] Smadger1 opened #154 "403: Forbidden when accessing admin page"
Hello,

Whenever I try to access the administrator panel I get a 403: Forbidden error?
![image](https://user-images.githubusercontent.com/22797936/50594680-75284480-0e95-11e9-96ea-bab0d3074840.png)

[2019-01-02 14:01] bugy commented on #154
Hi @Smadger1, by default you can access it from localhost only (if no auth is enabled).
A small documentation about admin page: https://github.com/bugy/script-server/wiki/Authorization#admin-users

If you don't have auth enabled, you need to add your IP to [trusted_ips](https://github.com/bugy/script-server/wiki/Server-configuration#--trusted_ips) in server config
And in any case you need to add y

[2019-01-02 14:02] Smadger1 commented on #154
Hi @bugy thank you for this,

Sorry I didn't spot it in the documentation.

[2019-01-02 14:16] Smadger1 opened #155 "Calling the script... --- ERRORS --- Exec format error"
I get the following error when trying to run a bash script on my server. This script currently runs hourly with a cron job and runs fine.
**ERROR**
[code]

**CONFIG**
[code]

[2019-01-02 14:21] Smadger1 commented on #155
Here is the backup script
[code]

[2019-01-02 14:30] Smadger1 commented on #155
Below is a screenshot of my current script which does have the shebang and it still produces the same error. How would I go about checking to see if it is a permissions problem.

![image](https://user-images.githubusercontent.com/22797936/50596089-ef0efc80-0e9a-11e9-9895-50a73c801c4c.png)

[2019-01-02 14:38] bugy commented on #155
Hi @Smadger1 , this is really strange. I copypasted your code above (for backup script) and it worked fine for me
For permission issue there should be a different error "Permission denied"

[2019-01-02 14:38] Smadger1 commented on #155
@bugy Could it possibly be a formatting error since I created the file on my windows machine and uploaded it via ftp?

[2019-01-02 14:41] bugy commented on #155
Interesting assumption. I think it could be a problem with line endings. On Windows it's different and could be that Linux cannot recognize shebang in such case

[2019-01-02 14:42] Smadger1 commented on #155
I have recreated the file using nano, how would I fix the permissions so that script-server can run it since the new file gets a permissions error?

By the way thank you for the help!

[2019-01-02 14:43] bugy commented on #155
Try `chmod +x myscript.sh`

You are welcome

[2019-01-02 14:48] Smadger1 commented on #155
I _think_ that fixed it only problem now is that it gets stuck on Calling the script.

Here is the log file (cut out IP addresses ect.)

[code]

[2019-01-02 14:56] bugy commented on #155
Hi @Smadger1, which version of script-server are you using? This one looks like a bug

[2019-01-02 14:56] Smadger1 commented on #155
I believe it is the latest non-dev version. Is there an easy way to find out?

[2019-01-02 15:14] bugy commented on #155
If it's the latest non-dev, then it's 1.12

May I ask you for some help and change your local code in src/web/server.py file?
Please find the following line (should be ):
`def open(self, execution_id):`
After the following code after it:
`        execution_id = execution_id.decode("utf-8")`
(check that whitespaces match the next line)

And then try to run the script again

[2019-01-02 15:19] Smadger1 commented on #155
That fixed it thank you @bugy

[2019-01-02 15:31] Smadger1 commented on #155
@bugy Having upgraded Tornado to 5.1.1 and removed that extra line I can confirm it still works. Thank you and sorry for being an idiot with such an ancient version of Tornado.

[2019-01-02 15:32] bugy commented on #155
No worries and thank you for all the checks!

[2019-01-03 08:50] #155 closed

[2019-01-03 08:51] bugy commented on #154
Hi @Smadger1, did you manage to solve the issue? Does the config work for you?

[2019-01-07 12:11] Smadger1 commented on #154
Hi, I have been extremely busy recently so haven’t had a chance to fix the issue yet. Sorry about the delayed response, will get back to you as soon as I attempt the fix. Thank you😊

From: Iaroslav Shepilov <notifications@github.com>
Sent: 03 January 2019 08:51
To: bugy/script-server <script-server@noreply.github.com>
Cc: Smadger <smadger@live.co.uk>; Mention <mention@noreply.github.com>
Subject:

[2019-01-08 11:27] bugy opened #157 "Google Oauth: show progress bar during authentication process"
After authenticating with Google OAuth, "Sign in with Google" button stays there for 10-20 seconds without any visible progress indicator. And after that time the page is redirected to index page.

So to avoid confusion it, there should be some indicator and the button should be disabled, probably.

[2019-01-09 10:01] Smadger1 commented on #154
All working thank you @bugy

[2019-01-15 09:34] bugy commented on #149
Hi @shinebayar-g thanks for checking it. That's weird, I'll double check my guide again.
Do you know which python version is installed?

[2019-01-15 09:37] shinebayar-g commented on #149
For me both virtual env's python -V reports 3.6.7
I think the difference is I installed `sudo apt-get install python-virtualenv` and created virtual env with `virtualenv -p python3 env` and wiki says
`sudo apt install python3-venv` , `python3 -m venv any/path/envname` those are only differences.

[2019-01-15 09:39] bugy commented on #149
Yep, these are the differences, but as far as I understood this is the recommended way to install virtualenvs. If I won't find the reason of failure, I'l switch to you version

[2019-01-15 09:45] shinebayar-g commented on #149
I see, I'd like to know the reason too. :)

[2019-01-15 09:54] shinebayar-g commented on #149
Oh by the way, is it possible to change listening port when using systemd service?

[2019-01-15 09:57] bugy commented on #149
You can use this server configuration parameter:
https://github.com/bugy/script-server/wiki/Server-configuration#port

If you want to have 2 configurations, please check new option (dev version only at the moment):
https://github.com/bugy/script-server/pull/135

[2019-01-15 10:17] shinebayar-g opened #158 "Fonts not found"
I've setup nginx reverse proxy in front of script server as described [here](https://github.com/bugy/script-server/wiki/Reverse-Proxy-setup). (with basic auth)
However when I browse my script-server address, some fonts are not loading. It's because they're looking at wrong path. I think correct path should be:
[code]
etc currently it's looking at
[code]
which is incorrect IMO. I think It didn't ha

[2019-01-15 10:20] shinebayar-g commented on #46
If I'm running Nginx with SSL in front of script-server. Do I need to add SSL to script-server too?

[2019-01-15 10:32] bugy commented on #158
Thanks! Most probably it comes after my large web-side refactoring on dev. I'll have a look.

[2019-01-15 10:34] shinebayar-g commented on #158
Just tried to reproduce this errors on 1.12.0 release. Looks like these are new additions since last release.
1.12.0 release uses these:
[code]

[2019-01-15 10:35] shinebayar-g commented on #158
Also, consider what if user want to put script-server on different path like `mydomain.com/not-script-server` etc, in such case it still should be working. I mean it should be flexible.

[2019-01-15 10:38] bugy commented on #158
In the code I don't have anything related to `script-server` path, so it should be ok.

[2019-01-15 10:38] shinebayar-g commented on #158
That's great.

[2019-01-15 10:52] shinebayar-g opened #159 "Support Basic auth on authentication?"
Most popular web servers like nginx, apache supports basic auth mechanism. I think you know what I mean already.
I understand that currently script-server already supports LDAP, Google Oauth. But what If user doesn't use them? Basic auth would be most suited and simple use case here. Of course, script-server shouldn't be used without any authentication. I don't know much about basic auth's securit

[2019-01-15 11:05] bugy commented on #159
Hi @shinebayar-g, good point. It's somehow supported already: if you have a basic auth on reverse proxy enabled, the user credentials will be used in Script server  logging.
You are right, we could go further and allow access based on these credentials. With some config option, that these credentials can be trusted indeed.
The thing is, that anyone could include fabricated basic credentials in the

[2019-01-15 11:15] shinebayar-g commented on #159
Ah, you mean that if someone can access script server's endpoint directly (without going through nginx right?) they could attack script-server?
I think if anyone using reverse proxy on the server they would never expose backing service directly on network. At least they'd put firewall through servers.

Example scenarios are:
- Nginx reverse proxy (port 80, public exposed + Script Server listens on

[2019-01-15 11:21] bugy commented on #159
I see at least 3 requirements for security here:
- Script server is not publically exposed
- there is no way to have a man in the middle between reverse proxy and Script server
- reverse proxy makes sure to "clean" any fraud auth headers

I'm not that good at security, so it could be some more. But I believe these 3 are definitely required, before smth like `"auth": "proxy-basic-auth"` could be en

[2019-01-15 11:31] bugy commented on #159
Imagine somebody is sending their HTTP request, with fraud basic auth headers already present there, if reverse-proxy doesn't override/clean them and they are delivered to Script server untouched, then they will be still trusted.
I hope that shouldn't be an issue and any reverse-proxies with enabled basic auth will override these headers.

[2019-01-15 11:35] shinebayar-g commented on #159
Is there any configs to make sure that happen? ex: on like nginx? I'm dummy.

[2019-01-15 12:06] bugy commented on #159
Ok, probably it's my bad and misunderstanding: in case of such auth client will send an Authorization header to reverse proxy anyway. And then reverse proxy will validate the header.
If the header is invalid, the request will be rejected on reserve-proxy side.
If it's valid, then it will be forwarded to Script server, including the same Authorization header (which is desired effect in this case).

[2019-01-15 12:25] shinebayar-g opened #160 "Docker pull / push result doesn't look good."
I've this script that downloads new updates from git repository, then build and push docker image.
However docker pull step looks like this:
![image](https://user-images.githubusercontent.com/3091558/51180524-6618ac00-1903-11e9-8182-c20552fff030.png)
![image](https://user-images.githubusercontent.com/3091558/51180534-6f097d80-1903-11e9-8bde-33c5b2e17eef.png)
![image](https://user-images.githubuser

[2019-01-15 12:47] bugy commented on #160
If you could send me the script log file (a part of it), it would be helpful.
Please make sure to keep line endings of this file

[2019-01-15 12:49] shinebayar-g commented on #160
Where can I find logs? Does it write logs somewhere default or do I have to enable it?

[2019-01-15 12:50] bugy commented on #160
They are in script-server/logs/processes

[2019-01-15 14:10] shinebayar-g commented on #160
Here is how docker pull command looks like, I had to record screen. Because screenshot wouldn't make sense.

https://drive.google.com/file/d/1OHttttYqhQVhJX0hyP0abeHMXaAjMkGZ/view (I'll delete video after few days).
PS: This is not from actual script that I was running.
PS2: Also If script only contains simple command like `docker pull ubuntu:16.04` it doesn't happen.

My script is like this:
[cod

[2019-01-15 14:16] shinebayar-g opened #161 "Performance issues on long run"
My docker image builds meteor js app. It takes around 15~20 min only on build & bundle step.

After calling this script from script-server, it stucks sometime later probs 15 min+. it lags and sometimes script-server browser tab freezes etc.. As I said if I execute script manually it takes 15~20 mins, but when executing from script-server it takes around ~30 min.
Output returns around 45K lines of

[2019-01-15 14:19] bugy commented on #160
I see, looks like ANSI codes, which are not 100% supported yet (basically only formatting). I will have a look closer later. You can delete the video now, I made a copy for myself.
Thank you!

[2019-01-15 14:24] bugy commented on #161
Oh, 45k is quite a lot. A also saw that your script is using formatting, which is heavyweight task for Script server :(
Could you make a simple test please: create a new script configuration and as a script path there, please put `cat` of the existing log.
e.g. ` "script_path": "cat /home/me/script-server/processes/logs/12345.log"`

How much time will take it? I would assume you should notice exac

[2019-01-15 15:30] bugy commented on #161
Could you check, please, if last lines are shown in the browser? Due to some parsing/formatting, there could be less lines on the UI (for example this docker pull issue, which you created OR sometimes scripts are just overriding existing lines, which also reduces amount of lines on UI).

I understand your case with output. Unfortunately for current Script server output rendering this is too much,

[2019-01-15 15:34] shinebayar-g opened #162 "What happens when user's browser crash / freeze / refresh or internet disconnect?"
I'm sorry for making so many issues lol. But it happened to me today. I was running my heavy script and I've got internet outage during that time. When I refresh my browser it doesn't seem to be running any task. It just showed its index page. But when I check the server processes with `htop` program it was running the heavy script and eventually it finished. (Cuz end of the script it pushes new i

[2019-01-15 15:38] bugy commented on #162
You should be able to reconnect to the script: https://github.com/bugy/script-server/issues/100
The problem for you could be, that you tried to connect from a different browser/place (if you don't have an auth enabled).
You should also be able to see script info on admin page (its status and current logs)

[2019-01-15 15:46] shinebayar-g commented on #161
I see, I don't like this heavy framework meteor.js. I really hate it that takes whole 20 minutes. Fortunately our guys are rewriting all of our apps that uses meteorjs in nodejs/express/react.

Our use case is, we don't have plain baremetal servers anymore. We've implemented Kubernetes cluster last year. Most of developers don't have access to cluster due to security reasons. Projects are automate

[2019-01-15 15:54] bugy opened #163 "Script server cuts large logs on UI sometimes"
When output is too large (e.g. 50k lines) and with bash formatting Script server randomly stops showing logs on UI (though they are logged properly to the file). For more details please look at https://github.com/bugy/script-server/issues/161#issuecomment-454439920

[2019-01-15 15:54] shinebayar-g commented on #162
Oh I don't have any auth except nginx basic auth. I don't have to admin page at the moment, due to no auth :D

Question: If I had auth enabled I could reconnect to running script from another browser too?

[2019-01-15 16:00] shinebayar-g commented on #161
This is totally fine, as long as it finishes its job I can live with it. Unfortunately script didn't finish, which might be real trouble here.

Thanks noted.

[2019-01-15 16:01] bugy commented on #162
Yes, they should, unless you stop the server explicitly. You can test it with some simple script and sleep inside.

Yes. You can do it even without auth, if you add your reverse proxy to `trusted_ips`. Then user IP will be his unique name, and you would be able to add it to `admin_users`

This is really strange and I cannot imagine it happening if script itself didn't die or Script server wasn't k

[2019-01-15 16:03] shinebayar-g commented on #162
I should make an update here, I think I worried about scripts and stopped service I think. So don't really worry on this one.

[2019-01-15 16:11] shinebayar-g commented on #161
Do you think If I remove this part from my script it would perform better?
[code]
to just
[code]
?

[2019-01-15 16:18] bugy commented on #161
No, I don't think so. Plain output shouldn't be a problem. What worries me the most are the logs like:
[code]
In this 2 lines there are quite a lot of text and tons of formatting (which have to be parsed each time, consuming server CPU and then overloading the page).

May be making docker less verbose would be better. I believe you don't need this "progress bar" anyway

[2019-01-15 16:20] shinebayar-g commented on #161
I see, I'll see what I can do about those docker outputs. I'll make an update here.

[2019-01-15 16:22] shinebayar-g commented on #162
Is it possible to add reverse proxy itself's IP address to trusted_ips? I don't think I can do this, because end user's (my) IP is sent to script-server not reverse proxy's right?

I don't have static IP at my work / home, so this method is not gonna work for me i guess.

[2019-01-15 16:22] #162 closed

[2019-01-15 17:06] shinebayar-g commented on #161
Ok I've an update.
I've disabled docker build command's output only and it doesn't lag anymore even with those docker push command's weird syntax.
[code]

I guess it doesn't lag because it's just so little.

[2019-01-15 17:43] shinebayar-g opened #164 "Cannot run scripts again after stopping script manually."
I ran this script it stuck, I thought I've made syntax error somewhere in script and stopped the script. Script-server said on screen, << stopped by user >>. But after that message I cannot run new scripts.
If I change tab to other scripts it doesn't show execute button. it shows nothing. I tried to reload page, clear cache etc. no help. Only clue is I have this console error. Also notice double s

[2019-01-15 17:45] bugy commented on #164
Is it for dev version?
Do you see any errors on server side? logs/server.log

[2019-01-15 18:01] shinebayar-g opened #165 "admin panel's execution history doesn't support bash formatting"
I've this bash script with color formatting. It has some visual bugs when executing this type of files (I couldn't catch what is exactly bugging this, but I'll find it and probably raise an another issue)

If I check execution history from admin panel these type of scripts looks like this:
[code]

![image](https://user-images.githubusercontent.com/3091558/51199712-75fbb480-1932-11e9-8f9b-17a4ea835

[2019-01-15 18:04] bugy commented on #164
Something weird with websockets. I don't see any of them after stop in the log. Could it be any reverse proxy changes? Or client code modifications/break points

[2019-01-15 18:11] shinebayar-g commented on #164
It's been working great since I enabled auth mode with trusted_ips and remove nginx ips.
I think it couldn't run my script and bugged since then.. Uff after numbers of restart and clear cache here and there, I'm finally able to see execute button again. Reproduce steps maybe run this script and stop it immediately before it finishes.

[code]

[2019-01-15 19:09] bugy commented on #165
Hi, this is expected behaviour. On admin panel I'm showing raw output without any processing, to avoid possible confusion caused by invalid formatting or weird script outputs.

I'll keep this ticket for make output type (raw/formatted) configurable (probably via checkbox on UI)

[2019-01-15 19:14] bugy commented on #164
I don't think it's related to stop button.
I couldn't reproduce it either. For me it looks more like connection issue, since it was only websockets, which didn't work: script configuration panel (the one with parameters and buttons) loads data via websocket. And also there was an error in the browser (at your screenshot):

Somebody was interrupting such connections at the very beginning. I would s

[2019-01-15 19:14] #154 closed

[2019-01-15 19:42] bugy commented on #158
Should be ok now on the latest dev

[2019-01-16 03:54] shinebayar-g commented on #158
Confirm fixed.

[2019-01-16 16:18] shinebayar-g commented on #161
Maan I'm such an idiot, all of that huge output was mostly from this line:
[code]
I removed `-v` flag from tar step and now whole output is just under few hundreds lol.

[2019-01-16 16:24] shinebayar-g commented on #160
@bugy Is it possible to support dynamic outputs from commands? I mean look at my docker pull example.
It doesn't put wall of texts onto terminal, instead it reuses its previous outputs' lines. Docker pull example:
First it shows `Pulling fs layer` then it becomes `Downloading ==>` then it becomes `Extracting` finally it becomes `Extract complete`.

Also `npm install` uses this method while install

[2019-01-16 19:24] bugy commented on #158
thanks for sharing! True, admin page has different paths :(

And thanks for telling about dev release date. I started such releases only recently (actually 20 days ago), and don't know all the details about it. Hopefully it could be fixed somehow via travis

[2019-01-17 04:57] shinebayar-g commented on #160
Ah, good to know. Take your time man, you're awesome.

[2019-01-17 04:59] shinebayar-g commented on #161
I guess so, since my scripts output is not overwhelming script-server anymore, additional burden on script-server is gone. Thus resulting better performance on server.

[2019-01-17 07:59] bugy commented on #158
After couple of hours of fighting with webpack and ccs/file loader plugins, I still couldn't find a way to solve it...
So it will take some time

[2019-01-17 08:03] shinebayar-g commented on #158
Ugh, i see. Also could you please add go back to homepage button somewhere? Once you go to admin page, there is no navigation back.

[2019-01-17 08:07] bugy opened #166 "Add "Go home" button to the admin page"
It should be a way from admin page to navigate back to main (home) page

[2019-01-17 08:07] bugy commented on #158
Created a ticket for it: #166

[2019-01-17 09:48] bugy commented on #158
Hi @shinebayar-g, completely offtopic to this ticket, but I couldn't find any other contact to you :)
I'm trying to spread a word about Script server, and would like to ask you for some feedback https://github.com/mahmoud/awesome-python-applications/issues/35

I would greatly appreciate your help in this regards!

PS I'll delete this comment after you read it. If possible and needed, please contac

[2019-01-17 09:59] shinebayar-g commented on #158
Ok I'll write you email.

[2019-01-17 20:50] bugy commented on #137
Added new parameter option: `file_recursive` (boolean). If it's true, then instead of combobox, user will get a file chooser with the possibility to navigate between folders and select them.
The "root" dir for the user will be the `file_dir` and user won't be able to see/select anything outside of it.

Also fixed interaction of `file_dir` and `working_dir`. Now `file_dir` is relative to `working_d

[2019-01-17 21:11] bugy commented on #158
Fonts should be fixed on admin page as well now.

Please be careful, in a recent commit for #137 I changed server API urls. So if the JS code is **cached** in browser, while server side is updated, it will cause issues. Apart from caches it shouldn't cause any other problems

[2019-01-18 14:46] shinebayar-g opened #167 "Is it possible to dump & download?"
Example, mysql or mongodb dump & download is possible to do with script-server?

[2019-01-18 15:35] bugy commented on #167
Should be, please have a look at https://github.com/bugy/script-server/wiki/Script-config#output_files

So if you have a script like:
[code]

then you can have config:
[code]
This config will check output logs and search for any string matching `/tmp/dumps/#\d+#.sql` and make it downloadable

[2019-01-18 16:42] shinebayar-g commented on #158
Confirmed fixed.

[2019-01-18 16:42] #158 closed

[2019-01-22 11:29] shinebayar-g opened #168 "How to setup Google Oauth?"
Hi, I've just setup my google app and got my secret and client_id. And also setup **Authorized redirect URIs** (which wasn't documented in wikis) except [here](https://github.com/bugy/script-server/issues/95).

Now my `conf.json` looks like this, but script-server is not starting up.
[code]

and I've got this from journalctl logs.
[code]

Then I moved `allowed_users` to auth level.

[code]

[2019-01-22 11:34] bugy commented on #168
Hi, there is some documentation:
https://github.com/bugy/script-server/wiki/Authentication#google-oauth

`allowed_users` is now part of `access` field, i.e.:
[code]

You can find better example at the end of the page: https://github.com/bugy/script-server/wiki/Server-configuration

[2019-01-22 13:13] shinebayar-g commented on #168
Oh thanks! Didn't see that one, my bad. If it's possible, can I have access to contribute to wiki?

[2019-01-22 13:13] #168 closed

[2019-01-22 13:43] shinebayar-g commented on #168
Quick question: Can you tell me what's the difference between `access.admin_users` and just `admin_users`?

![image](https://user-images.githubusercontent.com/3091558/51539381-ccb34200-1e8e-11e9-81a2-8793ad2cd13d.png)

[2019-01-22 13:46] bugy commented on #168
Obsolete config. It was moved to the access section as well

[2019-01-22 14:13] bugy commented on #168
I added you to collaborators, could you check your wiki access rights? (and may be fix the example above)

[2019-01-22 14:21] shinebayar-g commented on #168
Done, I've made little changes on that page. Thank you. I'll be fixing wiki in the meantime. :)

[2019-01-23 04:17] #167 closed

[2019-01-23 04:53] shinebayar-g opened #169 "Bash formatting not working properly (sometimes)"
I have this simple script that pull new changes from repo and build docker image & push.

[code]

I intentionally commented out docker build & push part for the sake of testing. But bug is still reproducable.

To reproduce:
If you run this script from command line. `./test_build.sh` only line that contains `echo -e` bash formatted lines will be **bold**, and commands outputs will be normal text.
!

[2019-01-23 08:07] bugy commented on #169
Thanks for reporting

[2019-01-24 14:22] shinebayar-g opened #170 "Possible support to display realtime result of script on admin page"
In admin panel, if you go to **running** script it shows script output. But it's not realtime. If I refresh the page, it shows updated outputs. If it shows that output without refreshing the page, it would be awesome. What do you think? @bugy

[2019-01-24 17:18] bugy commented on #170
Hi @shinebayar-g, I think it would make sense to show realtime result.
But to be honest considering the list of other tickets, I would do this one with the lower priority.

[2019-01-24 17:20] shinebayar-g commented on #170
Indeed, there are tons of issues that needs to be done beforehand. And I can't help but create more issues..

[2019-01-24 17:29] shinebayar-g opened #171 "Docker image, automatic builds."
It would be nice to have docker image ready.

I'll try to build docker image for the project and make it build automatically for every commit that passes test (do we have one?).

We've production ready [drone](https://github.com/drone/drone) setup that we use daily. If you don't mind I'd use that.

[2019-01-24 17:32] bugy commented on #171
Hi, thanks, nice idea. Where this image will be pushed? I don't know much about sharing docker images
Regarding the build tool - at the moment the whole process is in Travis CI: python and js tests, js build, whole package build

[2019-01-24 17:46] shinebayar-g commented on #171
I'll take a look at Travis-ci configuration if possible. Since it's an open
source project, travis ci should work.

Also since it's an open source project, our docker image should be hosted
on docker hub. I want you to make an account on docker hub, create
organization and invite me. My docker username is shinebayar. Then our
docker image will be available as under that organization's repository.

[2019-01-24 19:14] bugy commented on #171
Hi @shinebayar-g after some struggling I created an organization on docker hub and added you to a team. I believe I also have to create a repository and grant you permissions to it, right?

[2019-01-25 05:48] shinebayar-g commented on #171
Hi, I just checked docker repository. Looks like I don't have permission to create repo. Please create repository and add me. I'll test permissions to push, tag and delete.

[2019-01-25 07:52] bugy commented on #171
Added. Also I added automatic builds there: so whenever a commit to master happens, it will build :dev image based on Dockerfile. So there is no need to update any CI tool, just add a Dockerfile

[2019-01-25 07:53] shinebayar-g commented on #171
Great.

[2019-01-25 20:31] bugy commented on #102
Hi @csphoenix1 did you have a chance to test it? Does it work fine for you?

[2019-01-25 20:31] #119 closed

[2019-01-25 20:31] #128 closed

[2019-01-25 20:32] #130 closed

[2019-01-25 20:32] #131 closed

[2019-01-25 20:34] bugy commented on #98
Closing as no activity here. Docker is currently discussed in #171

[2019-01-25 20:34] #98 closed

[2019-01-25 20:34] #102 closed

[2019-01-25 20:34] #136 closed

[2019-01-25 20:35] #137 closed

[2019-01-25 21:04] bugy commented on #169
Hi @shinebayar-g , unfortunately I couldn't reproduce. I copied your script, replacing docker commands with simple echo. And `git pull`ing from another repo. But after 88 tries I couldn't achieve wrong formatting.
I also double-checked the code for any obvious errors and couldn't notice any.

How often does it happen to you? Do you by any chance have logs for this execution? Are they different fro

[2019-01-25 22:12] bugy commented on #163
Hi @shinebayar-g, I couldn't reproduce it. I executed a script with 45k lines multiple times (almost burned down my CPU :) ) and every time the log was fully shown on UI

Could it be, that there was some disconnect or server restart during script execution?
Also at the moment, when there are a lot of logs, written very fast, they are not flushed immediately, but somehow "stuck" until all logs are

[2019-01-26 16:48] bugy commented on #157
Added a label during authentication process (both for Ldap and Google OAuth)
Also improved google button styling (to better reflect guidelines)

[2019-01-26 16:48] #157 closed

[2019-01-26 19:06] bugy opened #172 "On large script output, it's rendered on UI with a large delay"
When there is a lot of simultaneous output from the script, it's not shown on UI until Script server fully processes it on server side.
Expected result: output should be flushed to UI without any visual delay as soon as it's available.

[2019-01-26 19:24] bugy opened #173 "dev releases: update release date on each build"
When there is a commit to master, a new dev release is built: https://github.com/bugy/script-server/releases/tag/dev
However the date of release remains the same, as when the first release was created (at the moment _"bugy released this on Dec 27, 2018"_)

This should be fixed and the date should be updated on each release

[2019-01-26 20:31] bugy opened #174 "Move terminal ANSI support to UI"
To support heavy executions and more users, it makes sense to move all ANSI parsing and rendering to UI (so server will spend less CPU time on it).

Probably this library can be used: https://github.com/xtermjs/xterm.js
Then issues for ANSI support #134, #169, #165 would be working out of the box or would be easier to implement.
+ Output performance would be better, most probably

@shinebayar-g, w

[2019-01-27 15:32] bugy commented on #163
Hi @shinebayar-g, thanks for info.
Could it be, that you didn't wait until script stopped on UI? There is an issue with unresponsive massive output: #172

Did you or your collegues experience this problem afterwards? If we could reproduce it (even very seldomly) it would help to find out the reason.

[2019-01-27 15:35] shinebayar-g commented on #163
Script was finished, at first I thought that too. I waited like 5 minutes at least, after script complete.

[2019-01-27 15:39] bugy opened #175 "Uncaught TypeError: Cannot read property '$destroy' of null"
This error is logged in browser time to time. Please check comments https://github.com/bugy/script-server/issues/164#issue-399459276 and  https://github.com/bugy/script-server/issues/164#issuecomment-457922448

Corresponding screenshot: https://user-images.githubusercontent.com/3091558/51198695-f5d44f80-192f-11e9-8d51-99a5d63ec1fc.png

[2019-01-27 15:52] bugy commented on #175
Hi @shinebayar-g I was able to reproduce the issue, quickly switching between different scripts.
Interestingly, that after it happens, you cannot open any script anymore (until page reload).

I'm not sure if stop button can cause such exception. According to the code, it shouldn't

[2019-01-27 15:54] shinebayar-g commented on #175
Yea, that was happening. It breaks until full page reload.

[2019-01-27 16:06] bugy commented on #175
Should be fixed now.

In this way I was able to reproduce that socker error also (closed before establishing connection).
Sorry for not putting attention to this browser error earlier :( I confused cause and effect

[2019-01-27 16:10] shinebayar-g commented on #175
Okay nice, if it's resolved feel free to close the issue.

[2019-01-27 16:12] #175 closed

[2019-01-27 17:14] bugy opened #176 "Windows: cannot open script log on admin page"
_[Windows only]_
When opening a script on admin page, an empty page is opened.
And there is an exception on server:
[code]

[2019-01-28 11:42] #176 closed

[2019-01-28 12:16] shinebayar-g commented on #169
Ok this bug appeared. When I `cat log` files, outputs looks as expected. How can I copy html code? I cannot get source by `view-source` function?

This is best I can do for now
![image](https://user-images.githubusercontent.com/3091558/51835772-6d937880-2339-11e9-9820-f1c3b1adf976.png)
As you see whole div gets **bold style**.
I also got this.
![image](https://user-images.githubusercontent.com/309

[2019-01-28 13:41] bugy commented on #169
Hi @shinebayar-g , thanks for providing all this info!
Regarding HTML code: the screenshot is enough for me. And according to it, it's not a markup issue (but still could be UI or server-side)
The warnings shouldn't happen in a normal scenario and could be either effect of wrong text formatting or the cause for it.

Unfortunately this information is not enough for me, to make any other guesses/ass

[2019-01-28 19:41] bugy commented on #169
2 points:
1. May be you can try to track websocket data, and send it to me (it's available in dev tools, on network tab. And you need to open dev tools before starting the script)
2. I'm not sure if it makes sense to investigate the issue, it will be gone (or have different effect) after #174

[2019-01-29 04:11] shinebayar-g commented on #169
Yea, let's forget about this issue until #174 is come to play.

[2019-02-04 10:07] yarongolan opened #178 "Add possibility to enable access to admin page for anyone"
Would it be possible to have a configuration parameter that just allows anyone to use the system and to access the admin (or at least the LOGS) page?

[2019-02-04 15:17] yarongolan commented on #178
The use case is just to see the logs. Specifically, I am setting up a simple solution where I'd like anyone with access to the intranet to see the previous runs to confirm all went well, or to trace and fix issues. Limited user base, no need for auth.

[2019-02-06 10:54] yosefy commented on #178
also after just installing the server, i don't want to deal with auth
but i want to play with admin page first for a second

[2019-02-06 11:00] bugy commented on #178
Thanks for the comments!

@yosefy by default access to the admin page is allowed from localhost.
Giving access to admin page by default to everyone looks very dangerous for me, because there is a huge chance that after "playing", the `admin_users` setting will be forgotten and will be moved to PROD with full access to everyone.
And admin page will become truly admin in the next release, I hope, wh

[2019-02-06 11:08] yosefy opened #179 "running parametrized.sh no USER"
cloned master brunch
running parametrized.sh

python[26030]: 2019-02-06 11:01:47,802 [tornado.application.ERROR] Uncaught exception GET /scripts/Very%20parameterized (10.177.158.121)
python[26030]: HTTPServerRequest(protocol='http', host='yosef-airflow-tests.pipl.pro:5000', method='GET', uri='/scripts/mote_ip='10.177.158.121')
python[26030]: Traceback (most recent call last):
python[26030]:   File

[2019-02-06 11:10] bugy commented on #179
Hi @yosefy, thanks for reporting! I thought USER env variable is set on all linux distributions :(

[2019-02-06 11:36] yosefy commented on #179
it is running vis systemd thats why i think

On Wed, Feb 6, 2019 at 1:10 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2019-02-06 11:38] bugy commented on #179
Then it makes sense. I'll just remove this parameter from the script then or update not to reference environment variable

[2019-02-06 11:41] yosefy commented on #178
may be you can add the option of * then?

[2019-02-06 11:42] bugy commented on #178
Ye, this is what I'll do

[2019-02-06 11:46] yosefy commented on #178
actually i saw lots of cases where people test stuff on small AWS instance or such (including me :) ),
thats why the may be good idea

thanks a lot

[2019-02-06 11:49] yosefy commented on #138
i think blocking would be good for the most of the services

[2019-02-06 19:01] NickBrecht opened #180 "Scheduler"
From what I can tell, this is near the perfect solution for script interfacing for nontechnical users.

The ability to schedule scripts is the only feature I feel is missing. Ideally, being able to assign specific dates, times, and/or cadences would round out this as a solution.

Sorry if this is already feature, but no mention of it in the wiki/docs.

[2019-02-06 19:18] bugy commented on #180
Hi Nick, thanks for the feedback and the proposal.

From the usecases I had on my work, as a developer, all the script runs were one time job, and they were dependant on parameters. That's why I didn't put much effort on tasks automation.
Also there are a lot of other great tools for automation.

However I see, that Script server is getting more popular and new usecases appear. So adding a schedul

[2019-02-06 19:32] NickBrecht commented on #180
Thanks for the quick reply.

I'm actually an analyst and I've fallen into a somewhat devops type of role.

For example, I have several scripts that pull data from several databases/APIs, provide some light cleaning/formatting, and kick out a report to a networked drive. I have this scheduled to run via windows task scheduler, but it would be amazing to manage this through one portal. Additionally,

[2019-02-06 19:39] yosefy commented on #180
there is "airflow" and such for this type of job
the main reason for script server, as i see is it, is choosing parameters
manually at UI
which removes the whole idea of schedule
might also make too complicated

but again .. personal opinion :)

On Wed, Feb 6, 2019 at 9:32 PM Nick Brecht <notifications@github.com> wrote:

[2019-02-06 19:44] bugy commented on #180
Hi Nick, thanks for very detailed description!

As far as I understood you consider using scheduler without any parameters and only for yourself. And other users will on demand execute one-time jobs (may be with parameters). Or I understood your idea wrong?

Regarding other tools, I would recommend you to check Rundeck. It has more features and definitely has advanced support for job scheduling (a

[2019-02-07 06:31] yosefy commented on #138
amm can you share an example how to start script via http request?
also can i get at least failed or finished now? or what will happen after sending request by curl for example

thanks

[2019-02-07 07:57] yosefy commented on #138
also if i use websockets client
like "https://github.com/aio-libs/aiohttp"
so i will get all the output right?

[2019-02-07 08:19] pureclouds commented on #180
Guys, seems you are talking about standard (in unix/linux env) **crontab**. Main purpose (as I think) of script-server - give simple but usable UI to run scripts (manually) and see their result.

[2019-02-07 08:41] bugy commented on #138
Hi @yosefy,
do a POST request to HOST/executions/start
with all parameters as a form data, and a __script_name form data for the script name

E.g.
`curl -X POST -F '__script_name=Apartment Info' -F 'apartmentId=13697677' localhost:5000/executions/start`
It will start the script and return its ID

Then you could connect to HOST/executions/io/{ID} via websocket to get output (it will be in chunks an

[2019-02-07 08:45] bugy commented on #171
Now images are pushed. Still to be done:
- remove dev tagging on before_deploy for non-master branches
- added versioning for stable docker images

[2019-02-07 22:25] bugy commented on #171
Added pushing docker image for stable releases as well + added incremental versioning to them
Also changed base image to slim

To be done:
- fix GitHub release, when merge with fast-forward (in this case dev release overrides stable release)
- add ":major.minor" tag (without .patch) for stable images, e.g. script-server:1.13

[2019-02-07 22:33] bugy commented on #171
### Description how to use it
(credits go to @shinebayar-g)

Dockerfile for docker image build. Tested and working as expected.
Users should mount config files and scripts into docker image. `conf.json` file ,` runners` folder , `scripts` folder.

Example usage:

[code]
Example runner:

[code]

Example script:

[code]

**Notes**: Script-server users should know it cannot access host system process

[2019-02-08 20:55] bugy commented on #179
Removed environment variables from the sample file.
Replaced them with a couple of unit tests

[2019-02-08 21:37] bugy commented on #178
Done. Now you can put `"admin_users": "*"` to make it accessible for anyone.
Please be careful with it: when admin page will be extended with script configurations, any user would be able to do anything with your server (where Script server is running).

Also I could remove this option one day, as not very safe (but before that I'll introduce an option to view logs out of admin page)
Not going to

[2019-02-10 09:21] yosefy commented on #138
and last question, if security is enabled?
for example via google

thanks

[2019-02-10 11:55] bugy commented on #138
Hi @yosefy, this is a bit complicated - authentication is based on a "token", which is stored as a cookie in a browser (and valid for 30 days atm).

So there are 2 ways to get this token:
- Easy way: copy this cookie from the browser every N days and use it for all API requests

- Hard way: perform authentication and store the token from your client. To get this token your need to send credential

[2019-02-13 16:49] yosefy opened #181 "may be we could pass parameter to script by name"
because when there are too many it becomes pretty complicated to remember numbers

may be there is such an option?

(i can live without it... just a thought)
thanks

[2019-02-13 16:52] bugy commented on #181
Hi @yosefy could you explain in examples, please, what do you mean?
I'm not sure which numbers you are talking about

[2019-02-13 16:55] yosefy commented on #181
there is a name for each parameter

    {
      "name": "**choose_environment**",
      "param": "--env",
      "description": "Environment",
      "required": true,
      "type": "list",
      "default": "dev",
      "values": [
        "dev",
        "prod"
      ]
    }

then in the script
cd "/mydir/**$choose_environment**/path"

[2019-02-13 17:07] yosefy commented on #181
insted of
cd "/mydir/$1/path"

[2019-02-13 17:15] yosefy commented on #181
or may be we could use the "param" without dashes as name

[2019-02-13 18:43] bugy commented on #181
To be honest I'm confused. How are you using `"param": "--env",`?
And I guess in your example, you should reference the variable by $2 and not $1, right?
(I'm asking because I don't really understand the example).

But in general, as far as I understand, you would like that Script server will create environment variables based on parameters (and their) and pass them to a script, is it correct?
I t

[2019-02-13 19:12] yosefy commented on #181
actually i am building my scripts for script-server in my case
so i think the best would be to turn

--test to "TEST"
--simple-bool to  "SIMPLE_BOOL" and pass to script
(everything not a-z will turn to "_" )
then inside the script we don't have to remember what ${78} means :)

i think may be "param" is best candidate for the var name because it cant have spaces in it anyway
and if there is no para

[2019-02-13 19:19] bugy commented on #181
I would use parameter name instead, because "param" should be used in a diferent manner (and it could be a single letter in a lot of cases).

But are you using "param" in your scripts at all? If you access parameters by index, then you don't need it.
I'm referring to this approach of using `param`: https://stackoverflow.com/a/14203146/2166673

Anyway, the idea itself makes sense

[2019-02-13 19:24] yosefy opened #182 "ui idea: add some "delimiter" which will create "new line""
it is bit strange that they all the same exactly almost
may be right name is grouping?

so the rest of params will be forced to move to next line

on UI:
 ---------     -----------
| paraam 1 |  | param2 |
 ---------     -----------
==================
 ---------
| paraam 3 |
 ---------

in config.json
just to explain the idea:

{
  name: param1

},
{
  name: param2,
  type: text
},
{
  name: None

[2019-02-13 19:30] yosefy commented on #181
amm i don't use it like this in this case (mostly using script server with ansible and terraform and packer for now)
about param you are right it is single latter sometimes
not sure need to add more fields put ok too
may be "name" is good candidate?

[2019-02-13 19:37] bugy commented on #181
Name should be ok.

But then you can skip specifying `param` all the time. It's not required :)

[2019-02-13 19:45] bugy commented on #182
HI @yosefy, thanks for the proposal.
Do you want to use this delimeter for some kind of grouping?
I prefer not to occupy vertical space, if possible

Would put this ticket on voting. If some people would need it as well, would be happy to implement.

[2019-02-13 21:04] yosefy commented on #181
yes i know but still you have to remember what is this $4 (or was it $3??) you see in the script
instead of $MEANINGFULL_NAME

example from real life :)

[2019-02-13 21:10] bugy commented on #181
I agree with you, the whole ticket makes perfect sense.

By the way, why don't you set variables at the beginning of the script? It will make your life a little bit easier, I guess. Example:
[code]

[2019-02-13 21:20] yosefy commented on #181
well also an option :)

also to let you know
in ansible there is -e (external var) option, which you may add more then once
so in script-server this -e flags adds itself when the var is defined together with var(very useful!)

it solves many problems of not knowing the exact amount of vars that will be there in the end

so just wanted to thanks for that :)

[2019-02-14 20:48] bugy commented on #141
Done. Usage example:
[code]

[2019-02-14 20:50] #179 closed

[2019-02-18 12:29] yosefy opened #183 "enable google auth via proxy"
i think it can't get to google without proxy config

Feb 18 12:27:53 XXX python[31362]: 2019-02-18 12:27:53,088 [script_server.tornado_auth.INFO] Trying to authenticate user
Feb 18 12:28:13 XXX python[31362]: 2019-02-18 12:28:13,110 [script_server.GoogleOauthAuthorizer.ERROR] Failed to load access_token: Timeout while connecting

[2019-02-18 12:45] bugy commented on #183
Hi @yosefy, could have a look at this answer please?
https://stackoverflow.com/a/31641300

Basicaly, before starting the script server, could you try to export mentioned environment variables with your proxy config?

[2019-02-18 12:53] yosefy commented on #183
Doesn't work
Found this one :
https://github.com/tornadoweb/tornado/issues/754

On Mon, Feb 18, 2019, 2:45 PM Iaroslav Shepilov <notifications@github.com
wrote:

[2019-02-18 13:17] bugy commented on #183
ok :( Thanks for checking it

[2019-02-18 14:19] yosefy commented on #183
what worked for me on ubuntu 18

apt-get install libssl-dev libcurl4-openssl-dev python-dev
pip install pycurl

add to src/auth/auth_google_oauth.py

####################################
import os
defaults = {}
http_proxy = os.environ.get('http_proxy')
if http_proxy:
    if http_proxy[:7] == "http://":
        http_proxy = http_proxy[7:]
    defaults['proxy_host'], defaults['proxy_port'] = http_pr

[2019-02-18 14:51] bugy commented on #183
Great thanks for checking it! Will refactor it somehow and add.

A question: did you configure environment variable `http_proxy` before that? With lowercase?

[2019-02-18 15:10] yosefy commented on #183
Yes I did
Thanks
May be better just add it in config

On Mon, Feb 18, 2019, 4:51 PM Iaroslav Shepilov <notifications@github.com
wrote:

[2019-02-18 15:26] bugy commented on #183
I would prefer to use default python approach with environment variables (as in stackoverflow answer). Just need to adjust code to it.

[2019-02-18 22:19] bugy commented on #183
Done. Now any environment variables (https_proxy or http_proxy, all lowercase or all uppercase) can be used.

This feature requires pycurl to be installed

@yosefy could you check please, if the latest version works for you?

[2019-02-20 07:48] bugy opened #184 "Add possibility to upload large files"
At the moment, when uploading a large file (~100Mb), web server fails with

It should be possible to allow larger files, probably with setting max file size manually in Script server configuration.

[2019-02-25 10:42] yosefy commented on #181
so another reason:

terraform apply -var "env=dev" -var "app=test" -var "size=6"

and i don't know how many there will be as they come from dynamically included config files for example

so,  if "app" is not required and not set, then "size" will move from $6 to $4
and it may cause disaster :)

same with running ansible with multiple -e option or any other software of this type

so if we only use

[2019-02-25 11:15] yosefy opened #185 "int may support zero"
if we make int field required and fill in 0, then it will not take it

[2019-02-25 11:22] bugy commented on #185
Is UI field validation fails with "required"?
Or you get it as a server response?

[2019-02-25 12:37] yosefy commented on #185
in UI
it was 0 not "0"
i guess it translated to falser somehow

[2019-02-25 12:56] yosefy commented on #133
sorry just a question, so i cant use values from included file in script?
so how to use it?

[2019-02-25 12:59] bugy commented on #133
Hi, what do you mean?

[2019-02-25 13:01] yosefy commented on #133
i dont see values form included when echo $@

On Mon, Feb 25, 2019 at 2:59 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2019-02-25 13:09] bugy commented on #133
That's extremely strange. Do you see these values on UI? And in the log, before script is called? (or after, in the admin page)

[2019-02-25 13:20] yosefy commented on #133
![image](https://user-images.githubusercontent.com/12940013/53340099-c9d5c200-3910-11e9-804c-544ae15266e6.png)

{
  "hidden": false,
  "parameters": [
    {
      "name": "inc_param1",
      "type": "list",
      "values": [
              "aaa",
              "bbb"
                ]
    },
    {
      "name": "inc_param2",
      "no_value": "true",
      "param": "--inc2"
    }
  ]
}

[2019-02-25 13:24] bugy commented on #133
Ok, apparently it doesn't work at all :( Will fix it

[2019-02-25 16:15] yosefy commented on #181
ok after trying all day :) need help
i want to do this
terraform apply $@
and that shoud do:
terraform apply -var env=dev -var app=test -var size=6 -var last_unknown=x

but i don't i can't find a way to do it
if i add param: "-var env="
then i get -var env= prod (with space)

@bugy , may be you have some idea?
thanks

[2019-02-25 19:39] bugy commented on #181
Hi @yosefy, this is not possible, unfortunately. So as usual, my proposal would be some wrapping script. Which will read "normal" parameters and adapt them to the terraform syntax

[2019-02-25 19:55] yosefy commented on #181
Ah right. Somehow I didnt think this way. I'll share if I manage to create
one

On Mon, Feb 25, 2019, 9:39 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2019-02-25 20:01] bugy commented on #181
Ok, if you would need help with it, I'd be glad to help

[2019-02-26 10:34] yosefy commented on #133
@bugy , do you have some estimation of fixing  it
blocking from putting in prod :)

thanks

[2019-02-26 10:42] bugy commented on #133
Hi, I'm working on another ticket at the moment (#184), and would need 2-3 days there probably.
The fix here will take ~1 day.

So if it's urgent for you, I could work on it today, otherwise estimation is Friday

[2019-02-26 11:02] yosefy commented on #133
wow if it possible, would be really helpful
as i am actually waiting for it now to continue working with script-server

thanks

On Tue, Feb 26, 2019 at 12:42 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2019-02-26 11:04] bugy commented on #133
Ok, agreed

[2019-02-26 17:00] yosefy opened #186 "ansible colours not printed"
the log is like this:

so
[0;32m is not changing anything
though
[1;32m prints bold green

so i am bit lost here

[code]

[2019-02-26 19:48] bugy commented on #186
The problem was with 0 code (set graphics to normal). I ignored any other codes, if there was a zero (in all the examples I saw, [0m and [31m were used separately)

[2019-02-26 20:05] yosefy commented on #186
Great thanks. I'll test tomorrow

On Tue, Feb 26, 2019, 9:48 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2019-02-26 21:33] bugy commented on #133
Fixed. Should be available in the latest stable release (1.13.2) and dev

[2019-02-27 09:15] yosefy commented on #186
work like a charm
thanks :)

[2019-02-27 14:11] yosefy commented on #133
i don't know if it is known but default values don't work in included
scripts
not a big problem just updating
the rest work beautifully

thanks

On Tue, Feb 26, 2019 at 11:33 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2019-02-27 15:56] yosefy opened #187 "when list is longer then browser size, scrolling doesn't work"
when the list crosses the lower boundary of the browser, no scrolling
if resize the browser while the list is opened, scrolling starts working

[2019-02-27 15:59] bugy commented on #187
@yosefy could you send a screenshot please?

[2019-02-27 16:01] yosefy opened #188 "when the list is very long, very useful to have filter/search on top of it"
though it is sorted which is very helpful

we sometimes have very long lists coming from some api
and it is little pain to scroll and search

though is just a cosmetics :)

[2019-02-27 16:12] yosefy opened #189 "some sign that the variable is loading"
lots of lists are coming from some api in json format, i have wrote a wrapper script with curl
but may be good idea to add another values type for that...

      "values": {
              "web-request": "http://some-api.com"
      }

which will return ["a", "b", "c", "d"]

wrapper for now is
[code]
[code]

thanks

[2019-02-27 16:14] yosefy opened #190 "values reloading"
when the variable coming from script reloads and it takes some time
user doesn't know and chooses from previous values then gets errors

need to disable the dropdown until ready and/or show somehow that is reloads

thanks

[2019-02-27 16:17] yosefy commented on #187
![image](https://user-images.githubusercontent.com/12940013/53505080-d34f5d80-3abb-11e9-8132-9633179c5033.png)

[2019-02-27 16:25] bugy commented on #189
Hi @yosefy, thanks for proposal. It makes sense

However the ticket title is confusing

[2019-02-27 16:27] bugy commented on #190
Hi @yosefy, thanks for suggestion. Unfortunately that would be not so easy to implement, so it won't come soon

[2019-02-27 16:28] yosefy commented on #189
amm i hope it is better :)

[2019-02-27 16:29] yosefy commented on #190
no probs
thanks
just putting here stuff that i see when working with script-server

[2019-02-27 16:31] bugy commented on #189
Hi @yosefy, I guess this is a title for a wrong issue :) From the description, it should be something like: "Parse JSON formatted values, coming from the scripts"

[2019-02-27 16:43] yosefy opened #191 "option to adress runner's "file name / name" as variable inside runner json"
so we may put includes that belongs to this runner
depending on other choices
in one dir
like
"include": "include/${runner_name}/${some_option}.json"

thanks

[2019-02-27 16:58] bugy commented on #191
Hi @yosefy, but you can put the runner name directly, cannot you? It's always the same

[2019-02-27 17:00] yosefy commented on #191
sorry diving in vars :) thats true

On Wed, Feb 27, 2019 at 6:58 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2019-02-27 17:04] #191 closed

[2019-02-28 11:15] yosefy commented on #138
ok so  i thought i will run another script server with different conf (on different port with no auth)
which will work with same scripts

the question is , can i still send username some how for authorisation?
because scripts have

[code]
in their config

thanks

[2019-02-28 11:18] bugy commented on #138
Unfortunately this is impossible. You can add your IP to the group and add this IP to the trusted IPs in the server configuration

[2019-02-28 11:23] yosefy commented on #138
worked!
thanks

On Thu, Feb 28, 2019 at 1:18 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2019-02-28 11:28] yosefy opened #192 "adding parameter value to log"
in logging.json i see

"simple": {
      "format": "%(asctime)s [%(name)s.%(levelname)s] %(message)s"
    }

i need to put first parameter value in there.

(to know which playbook is ran)

is it possible?

thanks

[2019-02-28 11:34] bugy commented on #192
Hi, unfortunately that is not possible at the moment

[2019-02-28 19:34] CaseyLabs commented on #182
Plus one to this idea. I'm testing a very simple script for launching AWS EC2 instances, and would prefer 1 parameter per line (as I'm only passing in 3 parameters at the moment).

[2019-03-02 21:55] bugy commented on #184
Done. Now max request size can be configured in server config (conf/conf.json), with `max_request_size` parameter (in megabytes).
By default the current limit is 10Mb

Also implemented streamed reading of uploaded_files, i.e. bytes are written to disk as soon as they come without buffering in memory. Tested on 6gb file, memory consumption stayed below 25Mb during the upload.
This can cause regress

[2019-03-03 06:40] rrbbt commented on #184
What a useful feature!
Thank you so much!

[2019-03-04 13:55] yosefy opened #194 "state and exit status of script"
if we run a script via api, then the caller service needs to know if we are finished for example:
(we call from airflow )

GET /state/$RUN_NUMBER

res:
{
    "state": "running",
    "exit-status-code": None
}

or

{
    "state": "done",
    "exit-status-code": -1
}

what do you think?

thanks

[2019-03-04 13:59] bugy commented on #194
Hi, there is endpoint GET /executions/status/executionId for it. It should return either "running" or "finished".
May be it can extended with exit code and wrapped in a json

[2019-03-04 14:25] yosefy commented on #194
ah nice!

yep adding exit code could be very useful so caller will continue depending on it

may be another rout and not json
but i guess json is also good

thanks

[2019-03-06 21:20] bugy commented on #185
Hi @yosefy, unfortunately I couldn't reproduce it :(
Which version of Script server and browser are you using?
And could you share the configuration of the parameter, please?

[2019-03-07 20:59] bugy commented on #187
It was kind of known issue of materialize css: https://github.com/Dogfalo/materialize/issues/2592
Made a fix, works for me on Chrome, but could be very browser-dependant

@yosefy could you check if it works for you, please?

[2019-03-11 06:47] rrbbt opened #195 "Couldn't download output files with cyrillic names"
I've just adopted nice music downloader script to run with Script Server:
https://github.com/yask123/Instant-Music-Downloader
It works just fine except for the songs with cyrillic names. When trying to download such file, browser gives 404 error (file not found).

[2019-03-12 02:20] yosefy commented on #185
it is in included params file only i think
where also default values don't work btw

[2019-03-14 23:43] gcmroi opened #196 "Python 2 support"
Can one use Script Server to call Python 2.7 scripts or the support is limited to Python 3.4 and above?

Thanks.

  GC

[2019-03-15 05:36] bugy commented on #196
Hi @gcmroi, python2 scripts are perfectly fine. Actually you can call any types of scripts (bash, perl, py2, py3, etc.). Script server runs scripts in separate processes.

But the server itself should be run with python 3

[2019-03-15 15:03] gcmroi commented on #196
Thanks @bugy. Appreciate the quick response.

[2019-03-15 15:03] #196 closed

[2019-03-16 17:53] gcmroi commented on #196
@bugy. Follow up question... I have tried to call a Python 2.7 script but some imports in the 2.7 script being called fail. Is there a specific way to format the call that is needed for this to succeed?

Thanks!

[2019-03-16 18:08] bugy commented on #196
Hi @gcmroi , which OS are you using?
If linux/macos, do you have a shebang in the script? Does it refer to a proper python?
If you could share some logs/errors, it would be helpful to find out the problem

[2019-03-16 18:17] gcmroi commented on #196
I am testing on Mac OS. I believe we have a shebang but I will need to double check (one of my engineers wrote the script.)

The error we're getting is simply: ImportError: No module named <module_name>.

If we install the missing module in script-server the error goes away, but this poses 2.7/3.6 compatibility issues, of course.

Note that both script-server as well as the script being called use

[2019-03-16 18:21] bugy commented on #196
Hi @gcmroi, I guess the script is executed with python 3, exactly because of being run in virtual environment: all child processes inherit environment from the parent (Script server), including python virtual env, probably.
So the option would be to use exact python path in the script shebang, or in the json file for Script server, e.g.
`"script_path": "/path/to/python2 my_script.py"`

[2019-03-16 18:28] gcmroi commented on #196
That was my hunch as well, but didn't know how to address it, so thanks for clarifying. I'll try the adding the exact path and report back.

[2019-03-16 18:55] gcmroi commented on #196
Quick update...

I was able to address the issue by adding both the shebang to the script being called, as well as adding the full `venv/python` path plus the full script path to the "`script_path`" parameters. Now everything seems to be working.

Thanks a lot for your support and congrats on a great tool!

[2019-03-16 18:57] bugy commented on #196
I'm glad it worked :) I think one of those should be enough

[2019-03-16 23:33] gcmroi commented on #196
It actually seems it needs both. Thanks again for your help.

[2019-03-19 14:37] pulpo opened #198 "Couldn't download output files when secure parameter is used"
When I try to use a secure parameter, for example for a **password**, the download file dialog is not displayed.

[code]
If I change the `secure`to `false`, after the execution the dialog is displayed. In both cases the `temp/resultFiles` folder is created.

[2019-03-19 15:19] bugy commented on #198
Hi @pulpo, thanks for reporting. Does the filename depend on the secure parameter or match it somehow?

[2019-03-19 15:29] pulpo commented on #198
Hi @bugy. The filename doesn't depends on the secure parameter. I made an script that does nothing but showing a hello message, and when I add a secure parameter I reproduce the problem. I tested it against stable and dev tags (from the docker image) with the same results.

[code]
Changing the secure's value or removing parameters shows me the download dialog.

[2019-03-19 15:30] bugy commented on #198
Thanks a lot for the nice description and configuration examples. I'll have a look

[2019-03-20 20:36] bugy commented on #134
Added support for moving cursor into 4 directions: up, down, left, right (with the corresponding ANSI codes ABCD).
More is coming...

[2019-03-20 20:37] bugy commented on #165
So, after finishing #174, admin terminal will always show formatted output. I would create a separate ticket to make it configurable (raw/formatted)

[2019-03-20 20:38] bugy commented on #169
So, #174 is there. Could you try again please, with the dev build, if possible? Actually you can even test it with jsut an admin panel, since it's displaying formatted output now

[2019-03-20 20:45] bugy commented on #174
Done, now all formatting related stuff is done on frontend side only. Server just passes raw output.
Also during the refactoring I tried my best to optimize parsing and rendering, so it is incredibly faster, than it was before. Though it still has limitations and showing hundreds of thousands lines would be a bad idea.

PS I had to use my own implementation instead of xterm.js, because for me the

[2019-03-20 20:46] #174 closed

[2019-03-20 21:10] bugy commented on #195
Thanks for reporting, I committed the fix, it will go into the next release.

Quite weird, that I didn't notice it before. The failing code is there for 2 years already

[2019-03-20 21:11] bugy commented on #198
I reproduced it locally, looks like a race condition for me (sometimes the download file is still shown). Will work on the fix in the nearest days

[2019-03-20 21:12] #186 closed

[2019-03-20 21:12] #184 closed

[2019-03-20 21:13] #178 closed

[2019-03-20 21:15] bugy commented on #163
Since I didn't manage to reproduce the issue and since #174 is there (with almost complete new implementation of displaying logs on UI side), I'm closing this ticket. If it happens again, please fell free to reopen this one or create new.

[2019-03-20 21:15] #163 closed

[2019-03-20 21:18] bugy commented on #161
In #174 I did a lot of performance optimizations and expect it to be way faster now, especially on server side. So closing this ticket as solved.

@shinebayar-g if you could try to open one of your older logs (with huge amount of output) in the admin page, and measure the performance there, I would really appreciate it.

[2019-03-20 21:18] #161 closed

[2019-03-20 21:22] bugy commented on #143
I made some performance improvements there. @csphoenix1 could you check please, if it works better for you now?

[2019-03-20 21:28] bugy opened #199 "Huge output support (> 100k lines)"
At the moment Script server is capable of handling of 10-100k lines of output (depending on the machine and amount of text formatting in the output). This is mostly limited by browser capabilities of displaying lots of html elements.

To make Script server to work with even larger outputs, it should not render full output at once, but instead do lazy loading on scrolling (i.e. elements are created

[2019-03-21 01:18] gcmroi opened #200 "Add external callbacks on script startup/shutdown"
Are there any plans to add script monitoring to the server?

At the moment I use Datadog to monitor individual scripts, but it would be awesome to have some layer of monitoring integrated in the script-server.

[2019-03-21 07:52] bugy commented on #200
Hi @gcmroi, to be honest I wasn't thinking about it. All the scripts I have have nothing to monitor, they are usually small and fast.

Could you describe what kind of scripts you have and what kind of monitoring would you like to have for them?

[2019-03-21 17:47] gcmroi commented on #200
@bugy: my script perform a series of complex tasks, from collecting news and social media posts, to analyzing them using NLP.

Your script-server is a great launch pad to ensure they can be started and stopped from one interface, but I'd love to add a monitoring interface to each script to visualize their performance without having to resort to DataDog or similar external tool.

Integrating Promet

[2019-03-21 18:06] bugy commented on #200
Hi @gcmroi, thanks for the detailed explanation!
I'm not sure if I'd like to implement monitoring in Script server for now.
But I'll have a look, how it could be integrated to some monitoring tool. Do you think Prometheus would be a good option to try?

[2019-03-21 18:12] gcmroi commented on #200
@bugy: no worries. Happy to add some context!

I would be happy to implement the integration myself, but I don't have experience with Tornado (my startup uses CherryPy for WSGI apps) and there's very little material out there, other than for Tornado/Flask-Django integrations.

Prometheus seems a very solid option, but I/we have not used it yet.

GC

[2019-03-21 18:22] bugy commented on #200
Perfect, I'll have a look tomorrow or over the weekend.

[2019-03-21 19:04] gcmroi commented on #200
Great. Thank you!

[2019-03-23 08:56] bugy opened #201 "Add support for default values for included parameters"
If script configuration contains included parameters (from another file), then default values of these parameters are ignored.
Default values should be filled once included parameters are shown for the first time, i.e. if a user puts some value in such a parameter and then switches to another included config and back, the value should remain, as set by the user

[2019-03-23 08:57] bugy commented on #133
Thanks for double-checking and reporting the issue with default values. I moved it to a separate ticket #201

[2019-03-23 08:57] #133 closed

[2019-03-23 10:45] bugy opened #202 "Adopt UI for narrow screens"
If Script server is opened in a narrow screen (e.g. half of the monitor), the script section goes below script list. It should be fixed and script section should always occupy the main part of the screen. Probably the left sidebar can slide-in/slide-out on user request

[2019-03-24 13:23] bugy commented on #198
Fixed. Should work now.

Thanks again for reporting!

[2019-03-24 22:48] pulpo commented on #198
I can confirm that it's fixed, tested on the dev branch. Thanks for your great work!

[2019-03-25 08:05] #198 closed

[2019-03-25 09:00] bugy commented on #200
Hi @gcmroi,
from what I've found, Prometheus is using scrapping of metrics data from an exposed web endpoint. And there are 2 main ways to provide this metrics:
- PushGateway: this gateway is storing metrics data in memory and provides it to Prometheus scraper on request. Applications have to push to this gateway explicitly, when they want to record some metrics
- Exporter: this is a standalone se

[2019-03-25 09:15] yosefy commented on #200
it is partially true :)
prometheus can take all metrics from app which "expose" them on
host:port/metrics for example

there is a library for that:
https://prometheus.io/docs/instrumenting/clientlibs/

so you may use a library or just reply in "prometheus format" in http body

so when prometheus will request  http://script-server.local:5000/metrics
it will get all the data it gets in reply and put

[2019-03-25 12:54] bugy commented on #200
Hi @yosefy, thanks for the clarification!
Actually I'm thinking about an exporter, which will collect data on scripts itself, and script server won't be involved into this process. So the scripts are the "software that don't expose metrics" in this case.
The reason, why I'm thinking about completely separated metrics collector, is because it has the same access to script internals as script

[2019-03-25 13:08] yosefy commented on #200
well for that exactly pushgateway exists IMHO
so you don't need to

On Mon, Mar 25, 2019 at 2:54 PM Iaroslav Shepilov <notifications@github.com>
wrote:

[2019-03-25 15:21] gcmroi commented on #200
@bugy, @yosefy: thanks a lot. Your comments clarify things.

@bugy - you said:

That makes sense to me. I'll do some prototyping and report back for reference. All the best!

GC

[2019-03-25 15:29] bugy commented on #200
Hi @gcmroi, I believe you would need some kind of trigger from the script server, once any script is started. This trigger (either HTTP or some process invocation) should be quite simple to implement.
If you will need it, just say :)

[2019-03-25 15:55] gcmroi commented on #200
@bugy: yes, that would be great! What would the most appropriate place be  for that trigger in the script-server app, in your opinion? HHTP would seem the most straightforward approach.

Thanks!

[2019-03-25 16:40] bugy commented on #200
Hi, I think it could be a part of script server configuration. For example:
[code]

[2019-03-26 20:25] gcmroi commented on #200
Thanks @bugy!

[2019-03-31 07:26] shinebayar-g commented on #169
Hi @bugy Just updated my script-server with **dev** build.
Looks like bash formatting issue is fixed. Also I've checked my old logs, all looks liked fixed.
However I've got another issue:
- When I run script it finishes like this. Looks like bottom messages are cut or something.
Note: I checked script successfully run as it's updated docker image.
![image](https://user-images.githubusercontent.com

[2019-03-31 07:45] bugy commented on #169
Hi @shinebayar-g, thanks for checking and reporting! If you see correct log in the admin page, then it's definitely Script server issue (not because of Docker): I write to the log file the same text as to UI.
I see 2 potential causes here:
1. An error during sending data or rendering it in the browser
2. Race condition on finishing script and closing client connection.

The first one is easier to

[2019-03-31 07:47] shinebayar-g commented on #169
Another one: My script's output messed up like this, it didn't really create new lines, but rewrite current lines..

![image](https://user-images.githubusercontent.com/3091558/55286216-40ac2200-53cb-11e9-8ba2-87510acab8b7.png)

[2019-03-31 07:49] bugy commented on #169
Hi @shinebayar-g, I think there are some ANSI codes, which are not supported yet: #134. I support some cursor move commands (up/left/down/right), but not others (move to position x,y, move to the beginning, move to remembered position, etc.). I think Docker is mixing them and it causes troubles for you.
I was going to work on extending ANSI next week.

[2019-03-31 07:53] shinebayar-g commented on #161
@bugy Looks like performance got lot better. Just tested with 46K lines script. Script-server's ram and CPU usage was constant low. Since you mentioned it's rendered in client's browser, now I'm often seeing this blank page when switching to Script-server's tab (with that long output page only). But I guess this is correct behavior compared to older one and it's more like end user's issue not scri

[2019-03-31 08:07] shinebayar-g commented on #169
I'm seeing correct output on admin page. @bugy

[2019-03-31 08:12] bugy commented on #161
Hi @shinebayar-g, thanks for confirming it works, I'm really glad to hear, that it worked.

To be honest I don't understand what you mean. Which blank page are you talking about? Or is it about the admin page also?

Regarding admin page: you are right, it happens because of rendering. Could you create a separate ticket for it, please? I wouldn't give it high priority, but it would better to keep t

[2019-03-31 08:15] bugy commented on #169
Hi @shinebayar-g, interesting, thanks. Then it brings me to another assumption, which relates to internal implementation. And if it's true, then it could also affect the cut log.

[2019-03-31 08:19] shinebayar-g commented on #161
@bugy  if I try to see that big log page `/script-server/admin.html#/executions/235` it stays blank for a while then renders that big log after few seconds. Hope you understand this, sorry for bad english.

I'll email you this log file.

[2019-03-31 08:23] shinebayar-g opened #203 "Browser hangs when try to view huge log file from admin page."
When try to view big log files from admin page browsers hangs. (Also happens on front page, after running script and didn't leave that tab)

![image](https://user-images.githubusercontent.com/3091558/55286640-fb8aee80-53d0-11e9-97cd-0e9ed2f78acb.png)

![image](https://user-images.githubusercontent.com/3091558/55286667-53c1f080-53d1-11e9-83f4-83df4bc92c09.png)

Original [issue](https://github.com/b

[2019-03-31 09:01] shinebayar-g opened #204 "Keep scroll position when navigating through admin page."
Let's say I've hundreds of logs saved in admin menu. If I scroll down to check 2 months old log file and go back (by clicking back button of browser) I have to scroll again from start of page. Then If I have to check next log file of previous checked log file, I have to scroll again. This is quickly become tedious to check old log files like this. It'd be better if script-server save my last scrol

[2019-03-31 09:09] shinebayar-g commented on #169
Docker's output is working as expected on most of times. I don't know why it's bugged sometimes.. I'll always check developer console.. About network tab I'm not sure what to do?

![image](https://user-images.githubusercontent.com/3091558/55287136-98e92100-53d7-11e9-90fa-34fb28f3b0df.png)

[2019-03-31 09:35] bugy commented on #169
Hi @shinebayar-g , please find the screenshot of network tab attached. On the screenshot I selected the socket connection (/exections/io), and on the right side "Frames" tab. This tab includes all the input/output data of a running script.
![image](https://user-images.githubusercontent.com/1275813/55287435-0df13200-53a9-11e9-9067-5ff5d4d14400.png)

[2019-03-31 17:57] bugy commented on #200
Done. @gcmroi, could you check if it's working for you, please?

`notifyOnStart` and `notifyOnFinish` are optional, default: true
`notificationParameters` is optional, default: ['execution_id', 'pid', 'script_name', 'user', 'exit_code'].

Each notification will additionally have `event_type` field, wich can be either 'execution_started' or 'execution_finished'

Specific details about destination t

[2019-04-01 20:53] bugy commented on #169
Hi @shinebayar-g, I found one bug in algorithm, related to "move cursor up" command. The fix is committed and available in a dev build

PS your output file was a great help for me. I just `cat` it (in chunks) and reproduced the problem, thanks a lot! I also noticed some formatting issues with docker download output. May be another bug, may be unsupported ANSI characters. Will have a look

[2019-04-02 04:38] gcmroi commented on #200
@bugy: I'll try it in the next day or so and report back. Thanks!

[2019-04-02 10:46] shinebayar-g commented on #169
Just tested out new build. Run few scripts, didn't notice serious bug yet.

I see, hope you'll catch it. 💯

[2019-04-02 23:39] enissay14 opened #205 "Add seperate backend worker with queuing"
It would be good to separate the web app from the backend who runs the script. For example, having a Celery app with Redis for queuing scripts.

This would allow the update/restart the app without interrupting scripts and will also help scale without interruption (just add more workers and keep using the main web app as a master)

Some thoughts on what needs to be done to make it work:

- A databa

[2019-04-03 08:41] bugy commented on #205
Hi @enissay14, thanks for the ticket and nice description. I was thinking about dedicated workers, but to run scripts on different machines (with different environments).

I like your idea with the benefit of a separate web server maintenance.
However there are a couple of concerns:
- scalability shouldn't be a great issue. All the scripts are run in separate processes anyway. The role of script s

[2019-04-04 20:31] bugy commented on #169
So, there were both: missing ANSI command support (clear line) + a bug when moving cursor bottom. Fixed both.

Now Script server log looks exactly like terminal output. At least for the log file you sent me :)

[2019-04-05 20:51] enissay14 commented on #205
Hi @bugy I like your ideas actually. I think we can avoid Queuing the jobs you have a point there.

In terms of scalability, my concern is when you have parallel script executions that overload the server. Having the work done by separate workers will let us auto-scale without interruption of the server (by spawning a new worker instance for example)

And of course, I was thinking a docker-compose

[2019-04-08 20:21] bugy commented on #134
Done. Now Script server supports most popular and used escape sequences, except sequences for manipulating terminal (size, resolution, etc.). The full list of supported escape sequences:
- Esc[Value;...;Value**m** - Set Graphics Mode
- Esc[Value**A** - Move cursor Up
- Esc[Value**B** - Move cursor Down
- Esc[Value**C** - Move cursor Forward
- Esc[Value**D** - Move cursor Backward
- Esc[Line;Column

[2019-04-11 14:45] tristanlatr commented on #132
Hello,

Thanks for this application, it's really useful.

I have a very similar issue with my configuration.

Groups are well fetched from LDAP but I can't get it work unless I manually specify my username in the config...
I also tried to declare the LDAP groups in the groups section cause it says that the ldap groups are merged with the groups section but it didn't work neither...

Can you give m

[2019-04-11 15:28] bugy commented on #132
Hi @tristanlatr, according to the logs, it should work. I'll test locally a couple of hours later

Could it be, that you made configuration changes after starting the server? The changes in the conf.json file are picked only on server restart.

[2019-04-11 17:19] tristanlatr commented on #132
Hi @bugy,

Thanks for your quick answer,

I'm confirming you that the server was newly restarted via systemd and that I didn't edit the config afterwards.
Do you have an extra verbose mode so we can look more in details what's happening ? or what other method do you advise me to follow ?
I also tried to this type of config where everyone can log in but all the scripts have a allowed_users field th